#### Primary Italian company active internationally in the retail of perfumery and cosmetics goods.
- Within the company, a dedicated unit is in charge of developing, planning and reporting of training activities towards Employee.
- In order to justify the investment in training activities the company asks for your support.

**HR_SALES:**
- **Retail Units:** Number of non accessory product sold in a given date
- **Commodity   :** Type of product sold (Accessory vs Item)
- **Sales       :** Local currency amount (currency is uniform within the dataset)
- **USER_ID     :** Employee's identifier

**HR_TRAINING**:
- **EmployeeType:** Coding related to the contract type
- **HRSCmpleted :** Hours of training activities completed
- **HIRING      :** Date of hiring (progressive)
- **Enrol       :** Type of enrolment for the specific training activity
- **USER_ID     :** Employee's identifier
- **CourseType  :** Coding of the course content type
- The training activities are available through smartphone app made up of short modules (5,10,20 mins etc) that can be completed during worktime.

**QUESTIONS**:
- Do training activities actually have an effect on performances?
- How is this effect quantifiable?
- Is the alleged effect heterogeneous along any observable dimension?

**KEY ASPECTS**:
- Accounting for possible confounding factors
- Choice of the proper granularity of the time dimension

In [1]:
import warnings
warnings.filterwarnings('ignore') # uncomment this line to suppress warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

import datetime

sales= pd.read_csv('HR_sales_clean.csv')
sales

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Date,Commodity,Sales,USER_ID
0,2018Q1,201802,201807,0.0,2018-02-16,ACCESSORIES,6.2608,9
1,2018Q1,201803,201809,0.0,2018-02-28,ACCESSORIES,10.0688,9
2,2018Q1,201803,201809,0.0,2018-03-02,ACCESSORIES,11.1888,9
3,2018Q1,201803,201810,0.0,2018-03-05,ACCESSORIES,10.0688,9
4,2018Q1,201803,201811,0.0,2018-03-12,ACCESSORIES,6.7088,9
...,...,...,...,...,...,...,...,...
8913289,2019Q4,201910,201942,0.0,2019-10-13,ACCESSORIES,49.2240,1000008
8913290,2019Q4,201910,201942,0.0,2019-10-14,ACCESSORIES,91.7280,1000008
8913291,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008
8913292,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008
8913293,2019Q4,201910,201942,1.0,2019-10-13,ITEM,93.2960,1000008

In [2]:
sales.dtypes

Fiscal Quarter (SS)     object
Fiscal Month (SS)        int64
Fiscal Week (SS)         int64
Retail Units           float64
Date                    object
Commodity               object
Sales                  float64
USER_ID                  int64
dtype: object

In [3]:
train= pd.read_csv('HR_training_clean.csv')
train

,EmployeeType,HiringDate_HR,Hours Delivered,Enrol,Time Completed,USER_ID,CourseType
0,C,43693.0,00:05:00,Self,2019-10-10,747221,Corporate
1,C,43703.0,00:05:00,Self,2019-10-09,747960,Corporate
2,C,43710.0,00:05:00,Self,2019-09-27,747860,Corporate
3,C,43716.0,00:05:00,Self,2019-10-22,748365,Corporate
4,C,43723.0,00:05:00,Self,2019-10-11,977662,Corporate
...,...,...,...,...,...,...,...
408579,P_PT,42495.0,00:10:00,Self,2019-10-10,585421,Product
408580,P_PT,42634.0,00:10:00,Self,2019-09-21,513781,Product
408581,P_PT,43051.0,00:10:00,Self,2019-10-01,970908,Product
408582,P_PT,43457.0,00:10:00,Self,2019-07-15,737693,Product
408583,P_PT,43594.0,00:10:00,Self,2019-07-26,742968,Product

In [4]:
#train['CourseType'].unique()
#train['EmployeeTime'].unique()
#train['HiringDate_HR'].unique()
#train['Enrol'].unique()
#np.unique(train['USER_ID'], return_counts = True)
train.USER_ID.nunique()     #value_counts()
#train['CourseType'].unique()

22161

In [5]:
train.dtypes

EmployeeType        object
HiringDate_HR      float64
Hours Delivered     object
Enrol               object
Time Completed      object
USER_ID              int64
CourseType          object
dtype: object

In [6]:
train['Hours Delivered'].unique()

array(['00:05:00', '00:10:00', '00:15:00', '00:20:00', '00:25:00',
       '00:30:00', '00:00:00', '01:30:00', '00:45:00', '00:04:00'],
      dtype=object)

In [7]:
sales['Commodity'].unique()

array(['ACCESSORIES', 'ITEM'], dtype=object)

In [8]:
train['Time Completed']

0         2019-10-10
1         2019-10-09
2         2019-09-27
3         2019-10-22
4         2019-10-11
             ...
408579    2019-10-10
408580    2019-09-21
408581    2019-10-01
408582    2019-07-15
408583    2019-07-26
Name: Time Completed, Length: 408584, dtype: object

In [9]:
train['Time'] = pd.to_datetime(train['Time Completed'], format= "%Y-%m-%d")
train['Week'] = train['Time'].dt.week
train['Week'] = train['Week'].fillna(0)
train['Week'] = train['Week'].astype('int64')

In [10]:
train['Year'] = train['Time'].dt.year
train['Year'] = train['Year'].fillna(0)
train['Year'] = train['Year'].astype('int64')

In [11]:
train['Fiscal Week'] = train['Year']*100 + train['Week']
train['Fiscal Week']

0         201941
1         201941
2         201939
3         201943
4         201941
           ...
408579    201941
408580    201938
408581    201940
408582    201929
408583    201930
Name: Fiscal Week, Length: 408584, dtype: int64

In [12]:
train['Hours Delivered2'] = pd.to_timedelta(train['Hours Delivered'])#, format="%H:%M:%S")


conditions = [
    train['Hours Delivered'] == '00:05:00',
    train['Hours Delivered'] == '00:10:00',
    train['Hours Delivered'] == '00:15:00',
    train['Hours Delivered'] == '00:20:00',
    train['Hours Delivered'] == '00:25:00',
    train['Hours Delivered'] == '00:30:00',
    train['Hours Delivered'] == '00:00:00',
    train['Hours Delivered'] == '01:30:00',
    train['Hours Delivered'] == '00:45:00',
    train['Hours Delivered'] == '00:04:00']
choices = [5,10,15,20,25,30,0,90,45,4]
train['Hours Delivered3'] = np.select(conditions, choices, default=4)
train

,EmployeeType,HiringDate_HR,Hours Delivered,Enrol,Time Completed,USER_ID,CourseType,Time,Week,Year,Fiscal Week,Hours Delivered2,Hours Delivered3
0,C,43693.0,00:05:00,Self,2019-10-10,747221,Corporate,2019-10-10,41,2019,201941,00:05:00,5
1,C,43703.0,00:05:00,Self,2019-10-09,747960,Corporate,2019-10-09,41,2019,201941,00:05:00,5
2,C,43710.0,00:05:00,Self,2019-09-27,747860,Corporate,2019-09-27,39,2019,201939,00:05:00,5
3,C,43716.0,00:05:00,Self,2019-10-22,748365,Corporate,2019-10-22,43,2019,201943,00:05:00,5
4,C,43723.0,00:05:00,Self,2019-10-11,977662,Corporate,2019-10-11,41,2019,201941,00:05:00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
408579,P_PT,42495.0,00:10:00,Self,2019-10-10,585421,Product,2019-10-10,41,2019,201941,00:10:00,10
408580,P_PT,42634.0,00:10:00,Self,2019-09-21,513781,Product,2019-09-21,38,2019,201938,00:10:00,10
408581,P_PT,43051.0,00:10:00,Self,2019-10-01,970908,Product,2019-10-01,40,2019,201940,00:10:00,10
408582,P_PT,43457.0,00:10:00,Self,2019-07-15,737693,Product,2019-07-15,29,2019,201929,00:10:00,10
408583,P_PT,43594.0,00:10:00,Self,2019-07-26,742968,Product,2019-07-26,30,2019,201930,00:10:00,10

In [13]:
train['Time'].isna().unique()

array([False,  True])

In [14]:
train.groupby(['USER_ID','Time'])['Hours Delivered3'].sum().groupby(level=0).cumsum().reset_index()

        USER_ID       Time  Hours Delivered3
0           402 2018-07-10                 5
1           402 2018-07-30                25
2           402 2018-08-13                60
3           402 2018-09-12               110
4           402 2018-09-13               120
...         ...        ...               ...
240269   978708 2019-10-20                85
240270   978715 2019-10-20                25
240271   978723 2019-10-21                10
240272   978723 2019-10-22                30
240273   978730 2019-10-21                25

[240274 rows x 3 columns]

In [15]:
train.groupby(['USER_ID','Fiscal Week'])['Hours Delivered3'].sum().groupby(level=0).cumsum().reset_index()

        USER_ID  Fiscal Week  Hours Delivered3
0           402       201828                 5
1           402       201831                25
2           402       201833                60
3           402       201837               120
4           402       201839               160
...         ...          ...               ...
202282   978732            0                 0
202283   978733            0                 0
202284   978734            0                 0
202285   978735            0                 0
202286   978737            0                 0

[202287 rows x 3 columns]

In [16]:
unique = train['USER_ID'].unique()
sales.loc[sales['USER_ID'].isin(unique)]

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Date,Commodity,Sales,USER_ID
31,2018Q1,201801,201801,1.0,2018-01-02,ITEM,55.9888,1035
32,2018Q1,201801,201801,1.0,2018-01-02,ITEM,145.5888,1035
33,2018Q1,201801,201801,1.0,2018-01-04,ITEM,55.9888,1035
34,2018Q1,201801,201801,1.0,2018-01-05,ITEM,167.9440,1035
35,2018Q1,201801,201801,1.0,2018-01-03,ITEM,55.9888,1035
...,...,...,...,...,...,...,...,...
8585663,2019Q4,201910,201942,1.0,2019-10-14,ITEM,364.0000,978685
8585664,2019Q4,201910,201942,1.0,2019-10-14,ITEM,229.6000,978685
8585665,2019Q4,201910,201942,1.0,2019-10-15,ITEM,238.5600,978686
8585666,2019Q4,201910,201942,1.0,2019-10-13,ITEM,213.9200,978686
8585667,2019Q4,201910,201942,0.0,2019-10-13,ACCESSORIES,13.4288,978686

In [17]:
sales['Date'] = pd.to_datetime(sales['Date'], format= "%Y-%m-%d")

In [18]:
#for user in sorted(train['USER_ID'].unique()):
    #df = train[train['USER_ID']== user]
    #df.groupby('USER_ID').sum()
    #for i in df.index:
        #timeList = df['Hours Delivered'][i]
        #print(i)
        #for tm in timeList:
            #print(tm)
        #totalSecs = 0
        #for tm in timeList:
            #timeParts = [int(s) for s in tm.split(':')]
            #totalSecs += (timeParts[0] * 60 + timeParts[1]) * 60 + timeParts[2]
        #totalSecs, sec = divmod(totalSecs, 60)
        #hr, min = divmod(totalSecs, 60)
        #print("%d:%02d:%02d" % (hr, min, sec))

In [19]:
HoursToMinutes = train['Hours Delivered'].str.split(':').str[0]
HoursToMinutes= HoursToMinutes.astype(int)*60

Minutes=train['Hours Delivered'].str.split(':').str[1]
Minutes= Minutes.astype(int)

train['TotalMinutesDelivered'] = HoursToMinutes+Minutes

# Removing null values of 'HiringDate_HR' and 0 values of 'TotalMinutesDelivered'
train.drop(train[train['HiringDate_HR'].isnull()][train['TotalMinutesDelivered']==0].index, inplace=True)

# Removing null values of 'Time Completed' and 0 values of 'TotalMinutesDelivered'
train.drop(train[train['Time Completed'].isnull()][train['TotalMinutesDelivered']==0].index, inplace=True)

train

,EmployeeType,HiringDate_HR,Hours Delivered,Enrol,Time Completed,USER_ID,CourseType,Time,Week,Year,Fiscal Week,Hours Delivered2,Hours Delivered3,TotalMinutesDelivered
0,C,43693.0,00:05:00,Self,2019-10-10,747221,Corporate,2019-10-10,41,2019,201941,00:05:00,5,5
1,C,43703.0,00:05:00,Self,2019-10-09,747960,Corporate,2019-10-09,41,2019,201941,00:05:00,5,5
2,C,43710.0,00:05:00,Self,2019-09-27,747860,Corporate,2019-09-27,39,2019,201939,00:05:00,5,5
3,C,43716.0,00:05:00,Self,2019-10-22,748365,Corporate,2019-10-22,43,2019,201943,00:05:00,5,5
4,C,43723.0,00:05:00,Self,2019-10-11,977662,Corporate,2019-10-11,41,2019,201941,00:05:00,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408579,P_PT,42495.0,00:10:00,Self,2019-10-10,585421,Product,2019-10-10,41,2019,201941,00:10:00,10,10
408580,P_PT,42634.0,00:10:00,Self,2019-09-21,513781,Product,2019-09-21,38,2019,201938,00:10:00,10,10
408581,P_PT,43051.0,00:10:00,Self,2019-10-01,970908,Product,2019-10-01,40,2019,201940,00:10:00,10,10
408582,P_PT,43457.0,00:10:00,Self,2019-07-15,737693,Product,2019-07-15,29,2019,201929,00:10:00,10,10
408583,P_PT,43594.0,00:10:00,Self,2019-07-26,742968,Product,2019-07-26,30,2019,201930,00:10:00,10,10

In [20]:
# Convert 'HiringDate_HR' format to Date format yyyy-mm-dd
def convert_excel_time(excel_time):

    return pd.to_datetime('1900-01-01') + pd.to_timedelta(excel_time,'D')

train['HiringDate_HR'] = convert_excel_time(train['HiringDate_HR']-2)
train['HiringDate_HR'] = train['HiringDate_HR'].dt.strftime('%Y-%m-%d')

train

,EmployeeType,HiringDate_HR,Hours Delivered,Enrol,Time Completed,USER_ID,CourseType,Time,Week,Year,Fiscal Week,Hours Delivered2,Hours Delivered3,TotalMinutesDelivered
0,C,2019-08-16,00:05:00,Self,2019-10-10,747221,Corporate,2019-10-10,41,2019,201941,00:05:00,5,5
1,C,2019-08-26,00:05:00,Self,2019-10-09,747960,Corporate,2019-10-09,41,2019,201941,00:05:00,5,5
2,C,2019-09-02,00:05:00,Self,2019-09-27,747860,Corporate,2019-09-27,39,2019,201939,00:05:00,5,5
3,C,2019-09-08,00:05:00,Self,2019-10-22,748365,Corporate,2019-10-22,43,2019,201943,00:05:00,5,5
4,C,2019-09-15,00:05:00,Self,2019-10-11,977662,Corporate,2019-10-11,41,2019,201941,00:05:00,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408579,P_PT,2016-05-05,00:10:00,Self,2019-10-10,585421,Product,2019-10-10,41,2019,201941,00:10:00,10,10
408580,P_PT,2016-09-21,00:10:00,Self,2019-09-21,513781,Product,2019-09-21,38,2019,201938,00:10:00,10,10
408581,P_PT,2017-11-12,00:10:00,Self,2019-10-01,970908,Product,2019-10-01,40,2019,201940,00:10:00,10,10
408582,P_PT,2018-12-23,00:10:00,Self,2019-07-15,737693,Product,2019-07-15,29,2019,201929,00:10:00,10,10
408583,P_PT,2019-05-09,00:10:00,Self,2019-07-26,742968,Product,2019-07-26,30,2019,201930,00:10:00,10,10

In [21]:
# Correcting EmployeeType Value in train with mode value
train['EmployeeType'] = train['EmployeeType'].replace(['-'], [train['EmployeeType'].mode()])
train

,EmployeeType,HiringDate_HR,Hours Delivered,Enrol,Time Completed,USER_ID,CourseType,Time,Week,Year,Fiscal Week,Hours Delivered2,Hours Delivered3,TotalMinutesDelivered
0,C,2019-08-16,00:05:00,Self,2019-10-10,747221,Corporate,2019-10-10,41,2019,201941,00:05:00,5,5
1,C,2019-08-26,00:05:00,Self,2019-10-09,747960,Corporate,2019-10-09,41,2019,201941,00:05:00,5,5
2,C,2019-09-02,00:05:00,Self,2019-09-27,747860,Corporate,2019-09-27,39,2019,201939,00:05:00,5,5
3,C,2019-09-08,00:05:00,Self,2019-10-22,748365,Corporate,2019-10-22,43,2019,201943,00:05:00,5,5
4,C,2019-09-15,00:05:00,Self,2019-10-11,977662,Corporate,2019-10-11,41,2019,201941,00:05:00,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408579,P_PT,2016-05-05,00:10:00,Self,2019-10-10,585421,Product,2019-10-10,41,2019,201941,00:10:00,10,10
408580,P_PT,2016-09-21,00:10:00,Self,2019-09-21,513781,Product,2019-09-21,38,2019,201938,00:10:00,10,10
408581,P_PT,2017-11-12,00:10:00,Self,2019-10-01,970908,Product,2019-10-01,40,2019,201940,00:10:00,10,10
408582,P_PT,2018-12-23,00:10:00,Self,2019-07-15,737693,Product,2019-07-15,29,2019,201929,00:10:00,10,10
408583,P_PT,2019-05-09,00:10:00,Self,2019-07-26,742968,Product,2019-07-26,30,2019,201930,00:10:00,10,10

In [22]:
train.isnull().sum()

EmployeeType             0
HiringDate_HR            0
Hours Delivered          0
Enrol                    0
Time Completed           0
USER_ID                  0
CourseType               0
Time                     0
Week                     0
Year                     0
Fiscal Week              0
Hours Delivered2         0
Hours Delivered3         0
TotalMinutesDelivered    0
dtype: int64

In [23]:
train['USER_ID'] = train['USER_ID'].astype(object)
train['Enrol'] = train['Enrol'].replace('-','Mandatory')

# Creating Dummy Variables of Course Type
train2=train.groupby(['Time Completed','USER_ID','EmployeeType','HiringDate_HR','CourseType','Enrol'])['TotalMinutesDelivered']\
.sum().reset_index()

train2=pd.get_dummies(train2, columns=['CourseType'])
train2=pd.get_dummies(train2, columns=['Enrol'])

train2['CourseType_Corporate_Self']=train2['CourseType_Corporate']*train2['TotalMinutesDelivered']*train2['Enrol_Self']
train2['CourseType_Product_Self']=train2['CourseType_Product']*train2['TotalMinutesDelivered']*train2['Enrol_Self']
train2['CourseType_Theme_Self']=train2['CourseType_Theme']*train2['TotalMinutesDelivered']*train2['Enrol_Self']
train2['CourseType_Corporate_Mandatory']=train2['CourseType_Corporate']*train2['TotalMinutesDelivered']*train2['Enrol_Mandatory']
train2['CourseType_Product_Mandatory']=train2['CourseType_Product']*train2['TotalMinutesDelivered']*train2['Enrol_Mandatory']
train2['CourseType_Theme_Mandatory']=train2['CourseType_Theme']*train2['TotalMinutesDelivered']*train2['Enrol_Mandatory']

In [24]:
train2

,Time Completed,USER_ID,EmployeeType,HiringDate_HR,TotalMinutesDelivered,CourseType_Corporate,CourseType_Product,CourseType_Theme,Enrol_Mandatory,Enrol_Self,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
0,2017-08-11,813113,P_FT,2015-11-09,10,1,0,0,0,1,10,0,0,0,0,0
1,2017-08-16,592129,P_FT,2016-09-06,10,1,0,0,0,1,10,0,0,0,0,0
2,2017-08-20,812045,P_FT,2015-07-20,10,1,0,0,0,1,10,0,0,0,0,0
3,2017-08-28,955849,P_FT,2019-06-21,10,1,0,0,0,1,10,0,0,0,0,0
4,2017-09-07,812447,P_PT,2015-07-22,10,1,0,0,0,1,10,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301176,2019-10-23,978485,C,2019-08-25,25,1,0,0,0,1,25,0,0,0,0,0
301177,2019-10-23,978555,P_FT,2019-09-15,10,0,0,1,0,1,0,0,10,0,0,0
301178,2019-10-23,978643,C,2019-10-08,5,1,0,0,0,1,5,0,0,0,0,0
301179,2019-10-23,978643,C,2019-10-08,20,0,1,0,1,0,0,0,0,0,20,0
301180,2019-10-23,978643,C,2019-10-08,10,0,0,1,0,1,0,0,10,0,0,0

In [25]:
train3=train2.groupby(['Time Completed','USER_ID','EmployeeType','HiringDate_HR'])['CourseType_Corporate_Self','CourseType_Product_Self','CourseType_Theme_Self','CourseType_Corporate_Mandatory','CourseType_Product_Mandatory','CourseType_Theme_Mandatory'].sum().reset_index()
train3

,Time Completed,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
0,2017-08-11,813113,P_FT,2015-11-09,10,0,0,0,0,0
1,2017-08-16,592129,P_FT,2016-09-06,10,0,0,0,0,0
2,2017-08-20,812045,P_FT,2015-07-20,10,0,0,0,0,0
3,2017-08-28,955849,P_FT,2019-06-21,10,0,0,0,0,0
4,2017-09-07,812447,P_PT,2015-07-22,10,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
240269,2019-10-23,976654,P_FT,2018-03-09,15,0,0,0,0,0
240270,2019-10-23,978053,P_FT,2019-05-10,15,0,0,0,0,0
240271,2019-10-23,978485,C,2019-08-25,25,0,0,5,0,0
240272,2019-10-23,978555,P_FT,2019-09-15,0,0,10,0,0,0
240273,2019-10-23,978643,C,2019-10-08,5,0,10,0,20,0

In [26]:
train3[train3['USER_ID']==592129].sort_values(by='Time Completed')

,Time Completed,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
1,2017-08-16,592129,P_FT,2016-09-06,10,0,0,0,0,0
10,2017-11-09,592129,P_FT,2016-09-06,10,0,0,0,0,0
26,2018-02-14,592129,P_FT,2016-09-06,10,0,0,0,0,0
36,2018-03-02,592129,P_FT,2016-09-06,10,0,0,0,0,0
42,2018-03-21,592129,P_FT,2016-09-06,0,10,0,0,0,0
50,2018-04-04,592129,P_FT,2016-09-06,0,10,0,0,0,0
9896,2018-07-16,592129,P_FT,2016-09-06,0,10,0,0,0,0
88747,2018-12-17,592129,P_FT,2016-09-06,30,0,0,0,0,0
136406,2019-04-02,592129,P_FT,2016-09-06,10,20,0,0,0,0
148997,2019-04-29,592129,P_FT,2016-09-06,5,0,0,0,0,0
171988,2019-06-19,592129,P_FT,2016-09-06,0,0,20,0,0,0
173784,2019-06-26,592129,P_FT,2016-09-06,10,0,30,0,0,0
174983,2019-07-01,592129,P_FT,2016-09-06,0,0,10,0,0,0
188718,2019-07-30,592129,P_FT,2016-09-06,0,10,0,0,0,0
202826,2019-09-02,592129,P_FT,2016-09-06,0,10,0,0,0,0
207025,2019-09-05,592129,P_FT,2016-09-06,0,10,10,0,0,10
219472,2019-09-22,592129,P_FT,2016-09-06,20,0,0,0,0,0
227650,2019-10-01,592129,P_FT,2016-09-06,0,20,10,0,0,0
238272,2019-10-18,592129,P_FT,2016-09-06,0,10,0,0,20,10

In [27]:
train3=train2.groupby(['Time Completed','USER_ID','EmployeeType','HiringDate_HR'])['CourseType_Corporate_Self',\
             'CourseType_Product_Self','CourseType_Theme_Self','CourseType_Corporate_Mandatory','CourseType_Product_Mandatory',\
             'CourseType_Theme_Mandatory'].sum().groupby('USER_ID').cumsum().reset_index()

train3=train3.sort_values(by=['USER_ID','Time Completed'])
train3

,Time Completed,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
8427,2018-07-10,402,P_FT,1985-02-07,5,0,0,0,0,0
20850,2018-07-30,402,P_FT,1985-02-07,5,0,0,0,20,0
28099,2018-08-13,402,P_FT,1985-02-07,5,0,10,0,45,0
43351,2018-09-12,402,P_FT,1985-02-07,5,10,50,0,45,0
43853,2018-09-13,402,P_FT,1985-02-07,5,20,50,0,45,0
...,...,...,...,...,...,...,...,...,...,...
239144,2019-10-20,978708,C,2019-10-17,45,10,30,0,0,0
239145,2019-10-20,978715,C,2019-10-17,20,0,0,5,0,0
239438,2019-10-21,978723,C,2019-10-21,0,0,10,0,0,0
240121,2019-10-22,978723,C,2019-10-21,15,0,10,5,0,0
239439,2019-10-21,978730,C,2019-10-20,20,0,0,5,0,0

In [28]:
train3[train3['USER_ID']==402].sort_values(by='Time Completed')  #592129

,Time Completed,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
8427,2018-07-10,402,P_FT,1985-02-07,5,0,0,0,0,0
20850,2018-07-30,402,P_FT,1985-02-07,5,0,0,0,20,0
28099,2018-08-13,402,P_FT,1985-02-07,5,0,10,0,45,0
43351,2018-09-12,402,P_FT,1985-02-07,5,10,50,0,45,0
43853,2018-09-13,402,P_FT,1985-02-07,5,20,50,0,45,0
49503,2018-09-24,402,P_FT,1985-02-07,5,20,70,0,45,0
50169,2018-09-25,402,P_FT,1985-02-07,5,20,80,0,45,0
51927,2018-09-28,402,P_FT,1985-02-07,5,20,80,0,55,0
59729,2018-10-05,402,P_FT,1985-02-07,5,20,80,0,85,0
77639,2018-11-05,402,P_FT,1985-02-07,5,30,80,0,85,0
93085,2019-01-18,402,P_FT,1985-02-07,5,30,80,0,85,20
109586,2019-01-27,402,P_FT,1985-02-07,5,30,90,0,85,20
155935,2019-05-09,402,P_FT,1985-02-07,5,30,100,0,85,20
156555,2019-05-10,402,P_FT,1985-02-07,15,30,100,0,85,20
200195,2019-08-29,402,P_FT,1985-02-07,20,50,110,0,85,20
224836,2019-09-28,402,P_FT,1985-02-07,20,50,120,0,85,20
237787,2019-10-17,402,P_FT,1985-02-07,25,50,120,0,85,20

In [29]:
train3.dtypes

Time Completed                    object
USER_ID                            int64
EmployeeType                      object
HiringDate_HR                     object
CourseType_Corporate_Self          int32
CourseType_Product_Self            int32
CourseType_Theme_Self              int32
CourseType_Corporate_Mandatory     int32
CourseType_Product_Mandatory       int32
CourseType_Theme_Mandatory         int32
dtype: object

In [30]:
train3['Time Completed'] = pd.to_datetime(train3['Time Completed'], format= "%Y-%m-%d")
train3.dtypes

Time Completed                    datetime64[ns]
USER_ID                                    int64
EmployeeType                              object
HiringDate_HR                             object
CourseType_Corporate_Self                  int32
CourseType_Product_Self                    int32
CourseType_Theme_Self                      int32
CourseType_Corporate_Mandatory             int32
CourseType_Product_Mandatory               int32
CourseType_Theme_Mandatory                 int32
dtype: object

In [31]:
sales.dtypes

Fiscal Quarter (SS)            object
Fiscal Month (SS)               int64
Fiscal Week (SS)                int64
Retail Units                  float64
Date                   datetime64[ns]
Commodity                      object
Sales                         float64
USER_ID                         int64
dtype: object

In [32]:
sales = sales.rename(columns={'Date': 'Time Completed'})
sales = sales.sort_values(by=['USER_ID','Time Completed'])
sales

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID
0,2018Q1,201802,201807,0.0,2018-02-16,ACCESSORIES,6.2608,9
1,2018Q1,201803,201809,0.0,2018-02-28,ACCESSORIES,10.0688,9
2,2018Q1,201803,201809,0.0,2018-03-02,ACCESSORIES,11.1888,9
3,2018Q1,201803,201810,0.0,2018-03-05,ACCESSORIES,10.0688,9
4,2018Q1,201803,201811,0.0,2018-03-12,ACCESSORIES,6.7088,9
...,...,...,...,...,...,...,...,...
8913286,2019Q4,201910,201942,0.0,2019-10-14,ACCESSORIES,49.2240,1000008
8913287,2019Q4,201910,201942,0.0,2019-10-14,ACCESSORIES,91.7280,1000008
8913290,2019Q4,201910,201942,0.0,2019-10-14,ACCESSORIES,91.7280,1000008
8913291,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008
8913292,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008

In [33]:
merge = pd.merge_asof(sales.sort_values(by=['Time Completed']), train3.sort_values(by=['Time Completed']),
                      on=['Time Completed'],
                      by='USER_ID')
merge

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
0,2018Q1,201801,201801,2.0,2018-01-01,ITEM,269.6400,588104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018Q1,201801,201801,0.0,2018-01-01,ACCESSORIES,11.8832,577781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018Q1,201801,201801,2.0,2018-01-01,ITEM,329.7168,965271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018Q1,201801,201801,1.0,2018-01-01,ITEM,71.6688,965271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018Q1,201801,201801,1.0,2018-01-01,ITEM,195.3280,965271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8913289,2019Q4,201910,201942,1.0,2019-10-15,ITEM,263.2000,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8913290,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,17.3488,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8913291,2019Q4,201910,201942,1.0,2019-10-15,ITEM,330.4000,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8913292,2019Q4,201910,201942,1.0,2019-10-15,ITEM,111.9440,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8913293,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,11.1888,743313,P_FT,2019-05-23,20.0,70.0,80.0,0.0,75.0,0.0

In [34]:
merge[merge['USER_ID']==511926].sort_values(by='Time Completed').head(500) 

#check tail(50 or 100) and see that on time 
#completed in merge the order of expertise is correct

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
3101,2018Q1,201801,201801,1.0,2018-01-01,ITEM,160.1600,511926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3111,2018Q1,201801,201801,1.0,2018-01-01,ITEM,159.1520,511926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44996,2018Q1,201801,201801,2.0,2018-01-05,ITEM,470.3888,511926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44997,2018Q1,201801,201801,1.0,2018-01-05,ITEM,216.1600,511926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44998,2018Q1,201801,201801,1.0,2018-01-05,ITEM,111.9888,511926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3044072,2018Q3,201807,201830,1.0,2018-07-22,ITEM,167.9440,511926,P_FT,2011-10-09,15.0,10.0,0.0,0.0,15.0,0.0
3043455,2018Q3,201807,201830,1.0,2018-07-22,ITEM,110.8800,511926,P_FT,2011-10-09,15.0,10.0,0.0,0.0,15.0,0.0
3043428,2018Q3,201807,201830,1.0,2018-07-22,ITEM,274.4000,511926,P_FT,2011-10-09,15.0,10.0,0.0,0.0,15.0,0.0
3043403,2018Q3,201807,201830,1.0,2018-07-22,ITEM,134.3440,511926,P_FT,2011-10-09,15.0,10.0,0.0,0.0,15.0,0.0
3043426,2018Q3,201807,201830,1.0,2018-07-22,ITEM,425.6000,511926,P_FT,2011-10-09,15.0,10.0,0.0,0.0,15.0,0.0

In [35]:
train3[train3['USER_ID']==511926].sort_values(by='Time Completed')

,Time Completed,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
853,2018-05-20,511926,P_FT,2011-10-09,5,0,0,0,0,0
2317,2018-06-02,511926,P_FT,2011-10-09,5,10,0,0,0,0
4732,2018-06-20,511926,P_FT,2011-10-09,10,10,0,0,0,0
10400,2018-07-17,511926,P_FT,2011-10-09,15,10,0,0,15,0
16758,2018-07-27,511926,P_FT,2011-10-09,15,10,0,0,35,0
24457,2018-08-04,511926,P_FT,2011-10-09,15,10,0,0,45,0
27871,2018-08-12,511926,P_FT,2011-10-09,15,10,10,0,45,0
32678,2018-08-28,511926,P_FT,2011-10-09,15,20,30,0,45,0
37430,2018-09-02,511926,P_FT,2011-10-09,15,20,50,0,45,0
50952,2018-09-26,511926,P_FT,2011-10-09,15,20,80,0,45,0
52452,2018-09-28,511926,P_FT,2011-10-09,15,20,80,0,55,0
60347,2018-10-05,511926,P_FT,2011-10-09,15,20,80,0,85,0
77387,2018-11-04,511926,P_FT,2011-10-09,15,30,80,0,85,0
93682,2019-01-18,511926,P_FT,2011-10-09,15,30,80,0,85,20
104567,2019-01-23,511926,P_FT,2011-10-09,15,30,90,0,85,20
119085,2019-02-21,511926,P_FT,2011-10-09,15,30,100,0,85,20
129885,2019-03-20,511926,P_FT,2011-10-09,15,30,110,0,85,20
143117,2019-04-20,511926,P_FT,2011-10-09,15,30,130,0,85,20
149412,2019-04-30,511926,P_FT,2011-10-09,25,30,130,0,85,20
160400,2019-05-17,511926,P_FT,2011-10-09,25,30,140,0,85,20
170358,2019-06-13,511926,P_FT,2011-10-09,25,35,140,0,85,20
176131,2019-07-03,511926,P_FT,2011-10-09,30,35,140,0,85,20
188041,2019-07-29,511926,P_FT,2011-10-09,30,45,140,0,85,20
198859,2019-08-28,511926,P_FT,2011-10-09,30,55,150,0,85,20
205491,2019-09-05,511926,P_FT,2011-10-09,30,65,150,0,85,20
223642,2019-09-27,511926,P_FT,2011-10-09,30,65,160,0,85,20
226595,2019-09-30,511926,P_FT,2011-10-09,30,65,170,0,85,20
233456,2019-10-08,511926,P_FT,2011-10-09,30,80,170,0,85,20
236817,2019-10-15,511926,P_FT,2011-10-09,30,90,170,0,85,20

In [36]:
sales[sales['USER_ID']== 402].sort_values(by='Time Completed')

Empty DataFrame
Columns: [Fiscal Quarter (SS), Fiscal Month (SS), Fiscal Week (SS), Retail Units, Time Completed, Commodity, Sales, USER_ID]
Index: []

In [37]:
missing= sorted(list(set(train3['USER_ID'].unique()) - set(merge['USER_ID'].unique())))

In [38]:
nosales = train3[train3['USER_ID'].isin(missing)].reset_index(drop=True)
nosales

,Time Completed,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
0,2018-07-10,402,P_FT,1985-02-07,5,0,0,0,0,0
1,2018-07-30,402,P_FT,1985-02-07,5,0,0,0,20,0
2,2018-08-13,402,P_FT,1985-02-07,5,0,10,0,45,0
3,2018-09-12,402,P_FT,1985-02-07,5,10,50,0,45,0
4,2018-09-13,402,P_FT,1985-02-07,5,20,50,0,45,0
...,...,...,...,...,...,...,...,...,...,...
4934,2019-10-20,978708,C,2019-10-17,45,10,30,0,0,0
4935,2019-10-20,978715,C,2019-10-17,20,0,0,5,0,0
4936,2019-10-21,978723,C,2019-10-21,0,0,10,0,0,0
4937,2019-10-22,978723,C,2019-10-21,15,0,10,5,0,0
4938,2019-10-21,978730,C,2019-10-20,20,0,0,5,0,0

In [39]:
merge.append(nosales, ignore_index= True)

,Commodity,CourseType_Corporate_Mandatory,CourseType_Corporate_Self,CourseType_Product_Mandatory,CourseType_Product_Self,CourseType_Theme_Mandatory,CourseType_Theme_Self,EmployeeType,Fiscal Month (SS),Fiscal Quarter (SS),Fiscal Week (SS),HiringDate_HR,Retail Units,Sales,Time Completed,USER_ID
0,ITEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201801.0,2018Q1,201801.0,NaN,2.0,269.6400,2018-01-01,588104
1,ACCESSORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201801.0,2018Q1,201801.0,NaN,0.0,11.8832,2018-01-01,577781
2,ITEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201801.0,2018Q1,201801.0,NaN,2.0,329.7168,2018-01-01,965271
3,ITEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201801.0,2018Q1,201801.0,NaN,1.0,71.6688,2018-01-01,965271
4,ITEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,201801.0,2018Q1,201801.0,NaN,1.0,195.3280,2018-01-01,965271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8918228,NaN,0.0,45.0,0.0,10.0,0.0,30.0,C,NaN,NaN,NaN,2019-10-17,NaN,NaN,2019-10-20,978708
8918229,NaN,5.0,20.0,0.0,0.0,0.0,0.0,C,NaN,NaN,NaN,2019-10-17,NaN,NaN,2019-10-20,978715
8918230,NaN,0.0,0.0,0.0,0.0,0.0,10.0,C,NaN,NaN,NaN,2019-10-21,NaN,NaN,2019-10-21,978723
8918231,NaN,5.0,15.0,0.0,0.0,0.0,10.0,C,NaN,NaN,NaN,2019-10-21,NaN,NaN,2019-10-22,978723
8918232,NaN,5.0,20.0,0.0,0.0,0.0,0.0,C,NaN,NaN,NaN,2019-10-20,NaN,NaN,2019-10-21,978730

In [40]:
merge.isnull().sum()

Fiscal Quarter (SS)                     0
Fiscal Month (SS)                       0
Fiscal Week (SS)                        0
Retail Units                            0
Time Completed                          0
Commodity                               0
Sales                                   0
USER_ID                                 0
EmployeeType                      3226742
HiringDate_HR                     3226742
CourseType_Corporate_Self         3226742
CourseType_Product_Self           3226742
CourseType_Theme_Self             3226742
CourseType_Corporate_Mandatory    3226742
CourseType_Product_Mandatory      3226742
CourseType_Theme_Mandatory        3226742
dtype: int64

In [41]:
missing2= sorted(list(set(merge['USER_ID'].unique()) - set(train3['USER_ID'].unique())))
missing2 #those who sold something without any train at all

[9,
 10,
 11,
 5129,
 17989,
 34290,
 37129,
 41856,
 45119,
 45407,
 52780,
 58134,
 61752,
 61947,
 62080,
 62230,
 62993,
 70795,
 72797,
 73124,
 73426,
 73627,
 74446,
 78477,
 79881,
 81356,
 82011,
 86294,
 96456,
 99196,
 99421,
 100701,
 102643,
 104399,
 104993,
 115660,
 154054,
 161963,
 216523,
 263119,
 272440,
 273209,
 273954,
 275788,
 278049,
 279727,
 280370,
 280781,
 281456,
 281458,
 287946,
 288106,
 289169,
 289998,
 290027,
 291358,
 291998,
 300141,
 300189,
 300237,
 300351,
 300400,
 300464,
 301431,
 302988,
 303474,
 306550,
 311271,
 317233,
 318046,
 318095,
 319677,
 321451,
 326232,
 344931,
 356186,
 357851,
 365033,
 365227,
 365790,
 366704,
 390370,
 394868,
 400435,
 400436,
 400437,
 402775,
 406464,
 406765,
 406891,
 408000,
 410317,
 410489,
 413200,
 413331,
 415834,
 416874,
 418070,
 420863,
 424244,
 425788,
 426901,
 428519,
 428959,
 430509,
 430524,
 432572,
 439662,
 445973,
 447455,
 449148,
 452779,
 452907,
 453084,
 457220,
 457755,
 457764,
 459195,
 460211,
 460881,
 461191,
 461479,
 464356,
 464387,
 464871,
 464977,
 465372,
 465431,
 466212,
 467592,
 468783,
 472607,
 473705,
 475788,
 477021,
 477184,
 477306,
 477409,
 477435,
 478545,
 479368,
 479563,
 479654,
 480878,
 482004,
 482050,
 482224,
 483721,
 484411,
 487809,
 488300,
 488324,
 488587,
 488673,
 488717,
 488727,
 488893,
 488944,
 489408,
 489594,
 490019,
 490066,
 490207,
 490569,
 490639,
 490885,
 491479,
 492924,
 493371,
 493452,
 493834,
 494430,
 494673,
 494862,
 494975,
 495410,
 495771,
 495997,
 496451,
 497199,
 497562,
 497597,
 498333,
 498396,
 498523,
 498675,
 498696,
 499012,
 499082,
 500847,
 500997,
 501382,
 501390,
 501477,
 501502,
 501637,
 502134,
 502949,
 503289,
 503481,
 503788,
 503802,
 503867,
 504198,
 504421,
 504466,
 504720,
 505125,
 505211,
 505376,
 505605,
 505826,
 505909,
 506170,
 506282,
 506472,
 506531,
 506783,
 507172,
 507306,
 507376,
 507399,
 507718,
 507723,
 508029,
 508195,
 508391,
 508524,
 508819,
 509323,
 509897,
 509970,
 510177,
 510496,
 510773,
 511352,
 511478,
 512032,
 512084,
 512327,
 512592,
 512946,
 512953,
 513332,
 514085,
 514775,
 514997,
 515089,
 515120,
 515275,
 515294,
 515475,
 516353,
 516383,
 516573,
 517492,
 517852,
 517913,
 518467,
 518907,
 519105,
 519209,
 519556,
 519978,
 519997,
 520203,
 520577,
 520580,
 520603,
 520824,
 520830,
 521013,
 521124,
 521200,
 521261,
 521445,
 521636,
 521708,
 522907,
 523093,
 523197,
 523457,
 523493,
 523758,
 524878,
 525195,
 525963,
 526041,
 526334,
 526726,
 526930,
 527033,
 527398,
 527499,
 527606,
 527653,
 527877,
 528195,
 528392,
 528423,
 528747,
 528955,
 529010,
 529163,
 529175,
 529271,
 529418,
 529484,
 529604,
 529793,
 530204,
 530242,
 530293,
 530398,
 530438,
 530481,
 530676,
 530706,
 530749,
 530938,
 530964,
 531160,
 531269,
 531373,
 531455,
 531476,
 531602,
 531868,
 531874,
 532080,
 532167,
 532334,
 532461,
 532707,
 532761,
 532832,
 532883,
 533089,
 533224,
 533279,
 533548,
 533634,
 533736,
 533809,
 533829,
 533948,
 534099,
 534375,
 534391,
 534594,
 534611,
 534664,
 534737,
 534801,
 534850,
 534882,
 535107,
 535149,
 535159,
 535183,
 535260,
 535365,
 535369,
 535449,
 535674,
 536007,
 536009,
 536060,
 536162,
 536363,
 536424,
 536556,
 536607,
 536832,
 536917,
 537068,
 537193,
 537392,
 537487,
 537604,
 537987,
 538056,
 538078,
 538080,
 538434,
 539236,
 539368,
 539497,
 539562,
 539594,
 539633,
 539660,
 539765,
 539997,
 540063,
 540154,
 540359,
 540463,
 540559,
 541037,
 541393,
 541478,
 541486,
 541488,
 541752,
 542115,
 542252,
 542474,
 542496,
 542847,
 542848,
 542858,
 542983,
 543228,
 543243,
 543512,
 543601,
 543827,
 543858,
 543880,
 543889,
 543919,
 544174,
 544187,
 544317,
 544348,
 544392,
 544402,
 544440,
 544504,
 544579,
 544819,
 544914,
 544927,
 545038,
 545083,
 545161,
 545167,
 545180,
 545243,
 545281,
 545614,
 545804,
 545917,
 545992,
 546018,
 546039,
 546229,
 546232,
 546276,
 546336,
 546522,
 546579,
 546617,
 546729,
 546770,
 546966,
 547231,
 547237,
 547290,
 547343,
 547355,
 547397,
 547525,
 547607,
 547751,
 547787,
 547832,
 547903,
 547929,
 548277,
 548311,
 548363,
 548492,
 548554,
 548888,
 548892,
 548951,
 548977,
 549019,
 549021,
 549035,
 549507,
 549534,
 549615,
 549719,
 549789,
 549833,
 549839,
 549930,
 549939,
 549999,
 550020,
 550135,
 550222,
 550228,
 550404,
 550438,
 550452,
 550852,
 550900,
 550903,
 551014,
 551050,
 551240,
 551269,
 551273,
 551288,
 551326,
 551382,
 551392,
 551455,
 551578,
 551593,
 551865,
 551935,
 551975,
 552055,
 552091,
 552226,
 552229,
 552263,
 552289,
 552294,
 552301,
 552304,
 552377,
 552434,
 552465,
 552466,
 552524,
 552525,
 552584,
 552594,
 552775,
 552791,
 552849,
 552899,
 552958,
 552979,
 553036,
 553223,
 553283,
 553421,
 553477,
 553495,
 553530,
 553650,
 553659,
 553672,
 553875,
 553921,
 553949,
 553980,
 554056,
 554064,
 554143,
 554210,
 554232,
 554248,
 554274,
 554318,
 554402,
 554456,
 554499,
 554550,
 554616,
 555075,
 555076,
 555121,
 555293,
 555425,
 555619,
 555815,
 556019,
 556029,
 556044,
 556053,
 556120,
 556173,
 556190,
 556212,
 556286,
 556301,
 556336,
 556372,
 556393,
 556457,
 556514,
 556575,
 556738,
 556907,
 557066,
 557073,
 557085,
 557163,
 557214,
 557325,
 557367,
 557422,
 557572,
 557621,
 557623,
 557627,
 557719,
 557724,
 557733,
 557740,
 557793,
 557800,
 557852,
 557860,
 557882,
 557884,
 557926,
 558030,
 558064,
 558072,
 558101,
 558120,
 558152,
 558501,
 558541,
 558544,
 558550,
 558570,
 558630,
 558733,
 558742,
 558751,
 558778,
 558847,
 558860,
 559294,
 559310,
 559319,
 559337,
 559396,
 559415,
 559425,
 559488,
 559538,
 559704,
 559757,
 559953,
 559983,
 560062,
 560082,
 560185,
 560205,
 560212,
 560316,
 560369,
 560465,
 560523,
 560532,
 560647,
 560683,
 560696,
 561002,
 561037,
 561043,
 561209,
 561234,
 561243,
 561300,
 561356,
 561403,
 561527,
 561528,
 561542,
 561625,
 561642,
 561660,
 561752,
 561784,
 561797,
 561879,
 562010,
 562058,
 562201,
 562284,
 562341,
 562352,
 562364,
 562365,
 562404,
 562426,
 562459,
 562464,
 562471,
 562763,
 562768,
 562798,
 562925,
 562951,
 563008,
 563034,
 563036,
 563099,
 563140,
 563400,
 563591,
 563599,
 563716,
 563718,
 563784,
 563902,
 563904,
 564109,
 564151,
 564195,
 564226,
 564300,
 564402,
 564483,
 564550,
 564571,
 564759,
 564910,
 564931,
 565042,
 565063,
 565107,
 565200,
 565220,
 565245,
 565374,
 565458,
 565618,
 565810,
 565850,
 565864,
 565893,
 565903,
 565924,
 565986,
 566032,
 566091,
 566096,
 566111,
 566119,
 566144,
 566159,
 566176,
 566230,
 566256,
 566338,
 566492,
 566508,
 566534,
 566607,
 566621,
 566732,
 566764,
 566840,
 566880,
 566953,
 566991,
 567124,
 567180,
 567221,
 567247,
 567265,
 567359,
 567418,
 567419,
 567451,
 567463,
 567479,
 567545,
 567595,
 567641,
 567738,
 567746,
 567828,
 567832,
 567852,
 567886,
 567957,
 568017,
 568021,
 568065,
 568111,
 568172,
 568175,
 568297,
 568422,
 568460,
 568476,
 568485,
 568579,
 568585,
 568615,
 568629,
 568630,
 568683,
 568725,
 568757,
 568829,
 568896,
 568913,
 568953,
 568969,
 568989,
 569087,
 569098,
 569111,
 569140,
 569191,
 569291,
 569312,
 569318,
 569333,
 569342,
 569354,
 569394,
 569414,
 569423,
 569461,
 569532,
 569534,
 569542,
 569629,
 569655,
 569667,
 569710,
 569743,
 569770,
 569946,
 570041,
 570089,
 570113,
 570137,
 570152,
 570187,
 570197,
 570200,
 570264,
 570333,
 570347,
 570359,
 570413,
 570421,
 570422,
 570489,
 570511,
 570526,
 570554,
 570630,
 570641,
 570647,
 570651,
 570664,
 570707,
 570741,
 570776,
 570902,
 570955,
 571069,
 571071,
 571164,
 571176,
 571187,
 571206,
 571217,
 571295,
 571331,
 571396,
 571413,
 571519,
 571599,
 571653,
 571665,
 571677,
 571860,
 572107,
 572109,
 572170,
 572171,
 572274,
 572275,
 572418,
 572485,
 572630,
 572632,
 572696,
 572709,
 572726,
 572781,
 572825,
 572855,
 572870,
 572988,
 573021,
 573078,
 573201,
 573333,
 573339,
 573451,
 573454,
 573519,
 573535,
 573544,
 573578,
 573594,
 573633,
 573687,
 573808,
 573844,
 573905,
 573928,
 573931,
 573936,
 573947,
 574025,
 574091,
 574125,
 574160,
 574252,
 574318,
 574383,
 574388,
 574472,
 574642,
 574656,
 574752,
 574757,
 574780,
 574800,
 574815,
 574819,
 574859,
 574906,
 574967,
 575005,
 575094,
 575148,
 575175,
 575188,
 575251,
 575295,
 575318,
 575337,
 575369,
 575441,
 575558,
 575562,
 575575,
 575580,
 575596,
 575634,
 575655,
 575669,
 575673,
 575677,
 575690,
 575759,
 575814,
 575854,
 575938,
 575954,
 575963,
 575992,
 576019,
 576043,
 576064,
 576135,
 576153,
 576157,
 576192,
 576215,
 576242,
 576251,
 576256,
 576302,
 576373,
 576425,
 576468,
 576510,
 576553,
 576597,
 576598,
 576707,
 576746,
 576766,
 576795,
 576796,
 576839,
 576922,
 576930,
 576995,
 577007,
 577015,
 577034,
 577040,
 577043,
 577074,
 577111,
 577128,
 ...]

In [42]:
merge[merge['USER_ID'].isin(missing2)].reset_index(drop=True)

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
0,2018Q1,201801,201801,2.0,2018-01-01,ITEM,269.6400,588104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018Q1,201801,201801,1.0,2018-01-01,ITEM,182.5600,592146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018Q1,201801,201801,1.0,2018-01-01,ITEM,111.9888,592146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018Q1,201801,201801,1.0,2018-01-01,ITEM,111.9888,592146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018Q1,201801,201801,1.0,2018-01-01,ITEM,55.9888,592146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799256,2019Q4,201910,201942,1.0,2019-10-15,ITEM,204.9600,737066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799257,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,24.6176,737061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799258,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,11.1888,737065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799259,2019Q4,201910,201942,1.0,2019-10-15,ITEM,171.3600,586217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799260,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,13.4176,586217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
merge['CourseType_Corporate_Self'] = merge['CourseType_Corporate_Self'].fillna(0)
merge['CourseType_Product_Self'] = merge['CourseType_Product_Self'].fillna(0)
merge['CourseType_Theme_Self'] = merge['CourseType_Theme_Self'].fillna(0)
merge['CourseType_Corporate_Mandatory'] = merge['CourseType_Corporate_Mandatory'].fillna(0)
merge['CourseType_Product_Mandatory'] = merge['CourseType_Product_Mandatory'].fillna(0)
merge['CourseType_Theme_Mandatory'] = merge['CourseType_Theme_Mandatory'].fillna(0)
merge #filled with 0 because they were both those who never got any train and those who still haven't got train yet at that moment

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
0,2018Q1,201801,201801,2.0,2018-01-01,ITEM,269.6400,588104,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,2018Q1,201801,201801,0.0,2018-01-01,ACCESSORIES,11.8832,577781,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,2018Q1,201801,201801,2.0,2018-01-01,ITEM,329.7168,965271,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,2018Q1,201801,201801,1.0,2018-01-01,ITEM,71.6688,965271,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,2018Q1,201801,201801,1.0,2018-01-01,ITEM,195.3280,965271,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8913289,2019Q4,201910,201942,1.0,2019-10-15,ITEM,263.2000,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8913290,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,17.3488,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8913291,2019Q4,201910,201942,1.0,2019-10-15,ITEM,330.4000,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8913292,2019Q4,201910,201942,1.0,2019-10-15,ITEM,111.9440,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8913293,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,11.1888,743313,P_FT,2019-05-23,20.0,70.0,80.0,0.0,75.0,0.0

In [44]:
mergenot= merge[~merge['USER_ID'].isin(missing2)].reset_index(drop=True)
mergenot #only individuals that have a train at a certain type, this can be filled in every attribute

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
0,2018Q1,201801,201801,0.0,2018-01-01,ACCESSORIES,11.8832,577781,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,2018Q1,201801,201801,2.0,2018-01-01,ITEM,329.7168,965271,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,2018Q1,201801,201801,1.0,2018-01-01,ITEM,71.6688,965271,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,2018Q1,201801,201801,1.0,2018-01-01,ITEM,195.3280,965271,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,2018Q1,201801,201801,1.0,2018-01-01,ITEM,216.1600,965271,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8114028,2019Q4,201910,201942,1.0,2019-10-15,ITEM,263.2000,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8114029,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,17.3488,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8114030,2019Q4,201910,201942,1.0,2019-10-15,ITEM,330.4000,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8114031,2019Q4,201910,201942,1.0,2019-10-15,ITEM,111.9440,511926,P_FT,2011-10-09,30.0,90.0,170.0,0.0,85.0,20.0
8114032,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,11.1888,743313,P_FT,2019-05-23,20.0,70.0,80.0,0.0,75.0,0.0

In [45]:
mergenot[mergenot['USER_ID']== 577781].sort_values(by='Time Completed')

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
0,2018Q1,201801,201801,0.0,2018-01-01,ACCESSORIES,11.8832,577781,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
14,2018Q1,201801,201801,4.0,2018-01-01,ITEM,583.4976,577781,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
16,2018Q1,201801,201801,3.0,2018-01-01,ITEM,585.0656,577781,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
17,2018Q1,201801,201801,1.0,2018-01-01,ITEM,227.3600,577781,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
34,2018Q1,201801,201801,1.0,2018-01-01,ITEM,55.9888,577781,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3819509,2018Q4,201811,201844,0.0,2018-10-29,ACCESSORIES,14.5488,577781,C,2015-11-16,5.0,0.0,0.0,0.0,0.0,0.0
3819523,2018Q4,201811,201844,1.0,2018-10-29,ITEM,160.1600,577781,C,2015-11-16,5.0,0.0,0.0,0.0,0.0,0.0
3819530,2018Q4,201811,201844,1.0,2018-10-29,ITEM,16.8000,577781,C,2015-11-16,5.0,0.0,0.0,0.0,0.0,0.0
3824281,2018Q4,201811,201844,0.0,2018-10-29,ACCESSORIES,6.7088,577781,C,2015-11-16,5.0,0.0,0.0,0.0,0.0,0.0
3824285,2018Q4,201811,201844,2.0,2018-10-29,ITEM,477.1200,577781,C,2015-11-16,5.0,0.0,0.0,0.0,0.0,0.0

In [46]:
mergenot = mergenot.sort_values(by=['USER_ID','Time Completed'])
mergenot = mergenot.bfill()
mergenot #filled with the first following available data (per user id), since at a certain point they get train hence extra info

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
15372,2018Q1,201801,201801,1.0,2018-01-02,ITEM,55.9888,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0
15548,2018Q1,201801,201801,1.0,2018-01-02,ITEM,111.9888,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0
15558,2018Q1,201801,201801,2.0,2018-01-02,ITEM,393.1200,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0
15614,2018Q1,201801,201801,0.0,2018-01-02,ACCESSORIES,15.6688,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0
15615,2018Q1,201801,201801,1.0,2018-01-02,ITEM,223.9888,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8097156,2019Q4,201910,201942,1.0,2019-10-14,ITEM,364.0000,978685,C,2019-10-06,5.0,40.0,30.0,0.0,0.0,0.0
8109542,2019Q4,201910,201942,2.0,2019-10-15,ITEM,421.1200,978685,C,2019-10-06,5.0,40.0,30.0,0.0,0.0,0.0
8088543,2019Q4,201910,201942,0.0,2019-10-13,ACCESSORIES,13.4288,978686,C,2019-10-07,10.0,30.0,0.0,0.0,0.0,0.0
8088556,2019Q4,201910,201942,1.0,2019-10-13,ITEM,213.9200,978686,C,2019-10-07,10.0,30.0,0.0,0.0,0.0,0.0
8109539,2019Q4,201910,201942,1.0,2019-10-15,ITEM,238.5600,978686,C,2019-10-07,10.0,30.0,0.0,0.0,0.0,0.0

In [47]:
mergenot[mergenot['USER_ID']== 1035].sort_values(by='Time Completed') #every user is filled correctly

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
15372,2018Q1,201801,201801,1.0,2018-01-02,ITEM,55.9888,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0
15548,2018Q1,201801,201801,1.0,2018-01-02,ITEM,111.9888,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0
15558,2018Q1,201801,201801,2.0,2018-01-02,ITEM,393.1200,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0
15614,2018Q1,201801,201801,0.0,2018-01-02,ACCESSORIES,15.6688,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0
15615,2018Q1,201801,201801,1.0,2018-01-02,ITEM,223.9888,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8106733,2019Q4,201910,201942,0.0,2019-10-14,ACCESSORIES,20.1040,1035,P_FT,1992-03-23,20.0,70.0,140.0,0.0,95.0,40.0
8107695,2019Q4,201910,201942,1.0,2019-10-15,ITEM,111.9888,1035,P_FT,1992-03-23,20.0,70.0,140.0,0.0,95.0,40.0
8107593,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,22.3776,1035,P_FT,1992-03-23,20.0,70.0,140.0,0.0,95.0,40.0
8107630,2019Q4,201910,201942,1.0,2019-10-15,ITEM,167.9888,1035,P_FT,1992-03-23,20.0,70.0,140.0,0.0,95.0,40.0
8107696,2019Q4,201910,201942,1.0,2019-10-15,ITEM,111.9440,1035,P_FT,1992-03-23,20.0,70.0,140.0,0.0,95.0,40.0

In [48]:
notrain = merge[merge['USER_ID'].isin(missing2)].reset_index(drop=True)
notrain #those who never get any train, the hours in training are filled with 0 ofc, but hiring date and employee won't ever be filled

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory
0,2018Q1,201801,201801,2.0,2018-01-01,ITEM,269.6400,588104,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,2018Q1,201801,201801,1.0,2018-01-01,ITEM,182.5600,592146,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,2018Q1,201801,201801,1.0,2018-01-01,ITEM,111.9888,592146,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,2018Q1,201801,201801,1.0,2018-01-01,ITEM,111.9888,592146,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,2018Q1,201801,201801,1.0,2018-01-01,ITEM,55.9888,592146,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799256,2019Q4,201910,201942,1.0,2019-10-15,ITEM,204.9600,737066,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
799257,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,24.6176,737061,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
799258,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,11.1888,737065,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
799259,2019Q4,201910,201942,1.0,2019-10-15,ITEM,171.3600,586217,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
799260,2019Q4,201910,201942,0.0,2019-10-15,ACCESSORIES,13.4176,586217,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
merge2 = mergenot.append(notrain, ignore_index= True)
merge2 = merge2.sort_values(by=['USER_ID','Time Completed'])
merge2.isnull().sum() #the only missing values are from those never get any train

Fiscal Quarter (SS)                    0
Fiscal Month (SS)                      0
Fiscal Week (SS)                       0
Retail Units                           0
Time Completed                         0
Commodity                              0
Sales                                  0
USER_ID                                0
EmployeeType                      799261
HiringDate_HR                     799261
CourseType_Corporate_Self              0
CourseType_Product_Self                0
CourseType_Theme_Self                  0
CourseType_Corporate_Mandatory         0
CourseType_Product_Mandatory           0
CourseType_Theme_Mandatory             0
dtype: int64

In [50]:
merge2.dtypes

Fiscal Quarter (SS)                       object
Fiscal Month (SS)                          int64
Fiscal Week (SS)                           int64
Retail Units                             float64
Time Completed                    datetime64[ns]
Commodity                                 object
Sales                                    float64
USER_ID                                    int64
EmployeeType                              object
HiringDate_HR                             object
CourseType_Corporate_Self                float64
CourseType_Product_Self                  float64
CourseType_Theme_Self                    float64
CourseType_Corporate_Mandatory           float64
CourseType_Product_Mandatory             float64
CourseType_Theme_Mandatory               float64
dtype: object

In [51]:
merge2['Trained'] = np.where(merge2['EmployeeType'].isnull(),0,1)
merge2= merge2.reset_index(drop=True)
merge2

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Trained
0,2018Q1,201802,201807,0.0,2018-02-16,ACCESSORIES,6.2608,9,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2018Q1,201803,201809,0.0,2018-02-28,ACCESSORIES,10.0688,9,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2018Q1,201803,201809,0.0,2018-03-02,ACCESSORIES,11.1888,9,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
3,2018Q1,201803,201810,0.0,2018-03-05,ACCESSORIES,10.0688,9,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
4,2018Q1,201803,201811,0.0,2018-03-12,ACCESSORIES,6.7088,9,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8913289,2019Q4,201910,201942,1.0,2019-10-14,ITEM,229.8240,1000008,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
8913290,2019Q4,201910,201942,1.0,2019-10-14,ITEM,185.9200,1000008,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
8913291,2019Q4,201910,201942,2.0,2019-10-14,ITEM,349.4400,1000008,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
8913292,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
8913293,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0

In [52]:
merge2['EmployeeType'].value_counts(normalize=True)

P_FT    0.508981
C       0.374536
P_PT    0.116483
Name: EmployeeType, dtype: float64

In [53]:
group = merge2.drop_duplicates('USER_ID')
group['EmployeeType'].value_counts(normalize=True)

C       0.674817
P_FT    0.198539
P_PT    0.126644
Name: EmployeeType, dtype: float64

In [54]:
import random

nans = group['EmployeeType'].isna()
length = sum(nans)
replacement = random.choices(['P_FT', 'C','P_PT'], weights=[.20, .67, .13], k=length)
group.loc[nans,'EmployeeType'] = replacement

group

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Trained
0,2018Q1,201802,201807,0.0,2018-02-16,ACCESSORIES,6.2608,9,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
6,2018Q2,201805,201820,2.0,2018-05-19,ITEM,490.5600,10,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
25,2018Q2,201805,201820,1.0,2018-05-18,ITEM,244.1600,11,P_PT,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
31,2018Q1,201801,201801,1.0,2018-01-02,ITEM,55.9888,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0,1
2147,2018Q1,201801,201804,1.0,2018-01-25,ITEM,328.1600,1340,P_FT,2000-09-03,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8585658,2019Q4,201910,201942,3.0,2019-10-14,ITEM,665.2800,978671,C,2019-10-06,0.0,0.0,0.0,0.0,0.0,0.0,1
8585661,2019Q4,201910,201941,1.0,2019-10-11,ITEM,302.4000,978685,C,2019-10-06,0.0,0.0,0.0,0.0,0.0,0.0,1
8585665,2019Q4,201910,201942,0.0,2019-10-13,ACCESSORIES,13.4288,978686,C,2019-10-07,10.0,30.0,0.0,0.0,0.0,0.0,1
8585668,2018Q1,201801,201801,3.0,2018-01-01,ITEM,525.2800,1000006,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
8783843,2018Q1,201801,201801,1.0,2018-01-01,ITEM,202.7760,1000008,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0

In [55]:
s = merge2['USER_ID'].map(group.set_index('USER_ID')['EmployeeType'])

In [56]:
merge2['EmployeeType']= merge2['EmployeeType'].mask(merge2['EmployeeType'].isnull(), s)
merge2

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Trained
0,2018Q1,201802,201807,0.0,2018-02-16,ACCESSORIES,6.2608,9,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2018Q1,201803,201809,0.0,2018-02-28,ACCESSORIES,10.0688,9,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2018Q1,201803,201809,0.0,2018-03-02,ACCESSORIES,11.1888,9,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
3,2018Q1,201803,201810,0.0,2018-03-05,ACCESSORIES,10.0688,9,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
4,2018Q1,201803,201811,0.0,2018-03-12,ACCESSORIES,6.7088,9,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8913289,2019Q4,201910,201942,1.0,2019-10-14,ITEM,229.8240,1000008,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
8913290,2019Q4,201910,201942,1.0,2019-10-14,ITEM,185.9200,1000008,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
8913291,2019Q4,201910,201942,2.0,2019-10-14,ITEM,349.4400,1000008,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
8913292,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
8913293,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0

In [57]:
merge2[merge2['USER_ID']== 45119].sort_values(by='Time Completed') #check values of id from "missing", they keep coherence

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Trained
24288,2019Q3,201909,201936,1.0,2019-09-06,ITEM,134.3440,45119,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
24289,2019Q3,201909,201936,1.0,2019-09-06,ITEM,425.6000,45119,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0
24290,2019Q3,201909,201936,0.0,2019-09-06,ACCESSORIES,11.1888,45119,C,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0

In [58]:
merge2.isnull().sum()

Fiscal Quarter (SS)                    0
Fiscal Month (SS)                      0
Fiscal Week (SS)                       0
Retail Units                           0
Time Completed                         0
Commodity                              0
Sales                                  0
USER_ID                                0
EmployeeType                           0
HiringDate_HR                     799261
CourseType_Corporate_Self              0
CourseType_Product_Self                0
CourseType_Theme_Self                  0
CourseType_Corporate_Mandatory         0
CourseType_Product_Mandatory           0
CourseType_Theme_Mandatory             0
Trained                                0
dtype: int64

In [59]:
hiring = merge2.drop_duplicates('USER_ID')
hiring['HiringDate_HR'] = hiring['HiringDate_HR'].astype('datetime64[ns]')
hiring['HiringDate_HR'] = hiring['HiringDate_HR'].fillna(hiring['Time Completed'].dt.floor('d') - pd.offsets.MonthBegin(1))
hiring

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Trained
0,2018Q1,201802,201807,0.0,2018-02-16,ACCESSORIES,6.2608,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0
6,2018Q2,201805,201820,2.0,2018-05-19,ITEM,490.5600,10,C,2018-05-01,0.0,0.0,0.0,0.0,0.0,0.0,0
25,2018Q2,201805,201820,1.0,2018-05-18,ITEM,244.1600,11,P_PT,2018-05-01,0.0,0.0,0.0,0.0,0.0,0.0,0
31,2018Q1,201801,201801,1.0,2018-01-02,ITEM,55.9888,1035,P_FT,1992-03-23,0.0,0.0,0.0,0.0,0.0,0.0,1
2147,2018Q1,201801,201804,1.0,2018-01-25,ITEM,328.1600,1340,P_FT,2000-09-03,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8585658,2019Q4,201910,201942,3.0,2019-10-14,ITEM,665.2800,978671,C,2019-10-06,0.0,0.0,0.0,0.0,0.0,0.0,1
8585661,2019Q4,201910,201941,1.0,2019-10-11,ITEM,302.4000,978685,C,2019-10-06,0.0,0.0,0.0,0.0,0.0,0.0,1
8585665,2019Q4,201910,201942,0.0,2019-10-13,ACCESSORIES,13.4288,978686,C,2019-10-07,10.0,30.0,0.0,0.0,0.0,0.0,1
8585668,2018Q1,201801,201801,3.0,2018-01-01,ITEM,525.2800,1000006,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0
8783843,2018Q1,201801,201801,1.0,2018-01-01,ITEM,202.7760,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0

In [60]:
s2 = merge2['USER_ID'].map(hiring.set_index('USER_ID')['HiringDate_HR'])
merge2['HiringDate_HR'] = merge2['HiringDate_HR'].astype('datetime64[ns]')

# FINAL DATASET

In [61]:
merge2['HiringDate_HR']= merge2['HiringDate_HR'].mask(merge2['HiringDate_HR'].isnull(), s2)
merge2

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Trained
0,2018Q1,201802,201807,0.0,2018-02-16,ACCESSORIES,6.2608,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0
1,2018Q1,201803,201809,0.0,2018-02-28,ACCESSORIES,10.0688,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2018Q1,201803,201809,0.0,2018-03-02,ACCESSORIES,11.1888,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0
3,2018Q1,201803,201810,0.0,2018-03-05,ACCESSORIES,10.0688,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0
4,2018Q1,201803,201811,0.0,2018-03-12,ACCESSORIES,6.7088,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8913289,2019Q4,201910,201942,1.0,2019-10-14,ITEM,229.8240,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0
8913290,2019Q4,201910,201942,1.0,2019-10-14,ITEM,185.9200,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0
8913291,2019Q4,201910,201942,2.0,2019-10-14,ITEM,349.4400,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0
8913292,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0
8913293,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0

In [62]:
merge2.isnull().sum()

Fiscal Quarter (SS)               0
Fiscal Month (SS)                 0
Fiscal Week (SS)                  0
Retail Units                      0
Time Completed                    0
Commodity                         0
Sales                             0
USER_ID                           0
EmployeeType                      0
HiringDate_HR                     0
CourseType_Corporate_Self         0
CourseType_Product_Self           0
CourseType_Theme_Self             0
CourseType_Corporate_Mandatory    0
CourseType_Product_Mandatory      0
CourseType_Theme_Mandatory        0
Trained                           0
dtype: int64

In [63]:
merge2.dtypes

Fiscal Quarter (SS)                       object
Fiscal Month (SS)                          int64
Fiscal Week (SS)                           int64
Retail Units                             float64
Time Completed                    datetime64[ns]
Commodity                                 object
Sales                                    float64
USER_ID                                    int64
EmployeeType                              object
HiringDate_HR                     datetime64[ns]
CourseType_Corporate_Self                float64
CourseType_Product_Self                  float64
CourseType_Theme_Self                    float64
CourseType_Corporate_Mandatory           float64
CourseType_Product_Mandatory             float64
CourseType_Theme_Mandatory               float64
Trained                                    int32
dtype: object

In [64]:
merge2['Year'] = merge2['Fiscal Month (SS)'].astype(str).str[:4].astype(int)
merge2['Month'] = merge2['Fiscal Month (SS)'].astype(str).str[-2:].astype(int)
merge2['Week'] = merge2['Fiscal Week (SS)'].astype(str).str[-2:].astype(int)

In [65]:
merge2

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Trained,Year,Month,Week
0,2018Q1,201802,201807,0.0,2018-02-16,ACCESSORIES,6.2608,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,2,7
1,2018Q1,201803,201809,0.0,2018-02-28,ACCESSORIES,10.0688,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,9
2,2018Q1,201803,201809,0.0,2018-03-02,ACCESSORIES,11.1888,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,9
3,2018Q1,201803,201810,0.0,2018-03-05,ACCESSORIES,10.0688,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,10
4,2018Q1,201803,201811,0.0,2018-03-12,ACCESSORIES,6.7088,9,C,2018-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8913289,2019Q4,201910,201942,1.0,2019-10-14,ITEM,229.8240,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913290,2019Q4,201910,201942,1.0,2019-10-14,ITEM,185.9200,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913291,2019Q4,201910,201942,2.0,2019-10-14,ITEM,349.4400,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913292,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913293,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,C,2017-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42

In [66]:
from datetime import datetime

merge2['HiringDate_HR'] = merge2['HiringDate_HR'].astype('object')
merge2['HiringDate_HR'] = (datetime.now()  - pd.to_datetime(merge2['HiringDate_HR'],infer_datetime_format=True)).dt.days
merge2

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Trained,Year,Month,Week
0,2018Q1,201802,201807,0.0,2018-02-16,ACCESSORIES,6.2608,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,2,7
1,2018Q1,201803,201809,0.0,2018-02-28,ACCESSORIES,10.0688,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,9
2,2018Q1,201803,201809,0.0,2018-03-02,ACCESSORIES,11.1888,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,9
3,2018Q1,201803,201810,0.0,2018-03-05,ACCESSORIES,10.0688,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,10
4,2018Q1,201803,201811,0.0,2018-03-12,ACCESSORIES,6.7088,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8913289,2019Q4,201910,201942,1.0,2019-10-14,ITEM,229.8240,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913290,2019Q4,201910,201942,1.0,2019-10-14,ITEM,185.9200,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913291,2019Q4,201910,201942,2.0,2019-10-14,ITEM,349.4400,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913292,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913293,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42

# regressions trials

In [67]:
merge3 = merge2

In [68]:
mergeITEM = merge3[merge3['Commodity'] == 'ITEM']
mergeITEM

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Trained,Year,Month,Week
5,2018Q2,201804,201816,1.0,2018-04-20,ITEM,160.1600,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,4,16
6,2018Q2,201805,201820,2.0,2018-05-19,ITEM,490.5600,10,C,735,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,5,20
8,2018Q2,201805,201821,1.0,2018-05-20,ITEM,182.5600,10,C,735,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,5,21
9,2018Q2,201805,201821,1.0,2018-05-20,ITEM,100.7888,10,C,735,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,5,21
10,2018Q2,201805,201821,1.0,2018-05-21,ITEM,189.2800,10,C,735,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,5,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8913289,2019Q4,201910,201942,1.0,2019-10-14,ITEM,229.8240,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913290,2019Q4,201910,201942,1.0,2019-10-14,ITEM,185.9200,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913291,2019Q4,201910,201942,2.0,2019-10-14,ITEM,349.4400,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913292,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913293,2019Q4,201910,201942,1.0,2019-10-14,ITEM,77.6160,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42

In [69]:
mergeACCESSORY = merge3[merge3['Commodity'] == 'ACCESSORIES']
mergeACCESSORY

,Fiscal Quarter (SS),Fiscal Month (SS),Fiscal Week (SS),Retail Units,Time Completed,Commodity,Sales,USER_ID,EmployeeType,HiringDate_HR,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Trained,Year,Month,Week
0,2018Q1,201802,201807,0.0,2018-02-16,ACCESSORIES,6.2608,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,2,7
1,2018Q1,201803,201809,0.0,2018-02-28,ACCESSORIES,10.0688,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,9
2,2018Q1,201803,201809,0.0,2018-03-02,ACCESSORIES,11.1888,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,9
3,2018Q1,201803,201810,0.0,2018-03-05,ACCESSORIES,10.0688,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,10
4,2018Q1,201803,201811,0.0,2018-03-12,ACCESSORIES,6.7088,9,C,824,0.0,0.0,0.0,0.0,0.0,0.0,0,2018,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8913264,2019Q4,201910,201942,0.0,2019-10-14,ACCESSORIES,20.1376,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913265,2019Q4,201910,201942,0.0,2019-10-14,ACCESSORIES,50.3440,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913266,2019Q4,201910,201942,0.0,2019-10-14,ACCESSORIES,10.0688,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913267,2019Q4,201910,201942,0.0,2019-10-14,ACCESSORIES,22.3776,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42
8913274,2019Q4,201910,201942,0.0,2019-10-14,ACCESSORIES,174.7200,1000008,C,886,0.0,0.0,0.0,0.0,0.0,0.0,0,2019,10,42

In [114]:
f = {'CourseType_Corporate_Self':['max'], 'CourseType_Product_Self':['max'], 'CourseType_Theme_Self':['max'],'CourseType_Corporate_Mandatory':['max'],\
    'CourseType_Product_Mandatory':['max'],'CourseType_Theme_Mandatory':['max'],'Sales':['sum'],'Trained':['max'],'HiringDate_HR':['max']}

linear1= mergeACCESSORY.groupby(['USER_ID','Year','Week','EmployeeType']).agg(f)

linear1

                               CourseType_Corporate_Self  \
                                                     max
USER_ID Year Week EmployeeType
9       2018 7    C                                  0.0
             9    C                                  0.0
             10   C                                  0.0
             11   C                                  0.0
10      2018 20   C                                  0.0
...                                                  ...
1000008 2019 38   C                                  0.0
             39   C                                  0.0
             40   C                                  0.0
             41   C                                  0.0
             42   C                                  0.0

                               CourseType_Product_Self CourseType_Theme_Self  \
                                                   max                   max
USER_ID Year Week EmployeeType
9       2018 7    C                                0.0                   0.0
             9    C                                0.0                   0.0
             10   C                                0.0                   0.0
             11   C                                0.0                   0.0
10      2018 20   C                                0.0                   0.0
...                                                ...                   ...
1000008 2019 38   C                                0.0                   0.0
             39   C                                0.0                   0.0
             40   C                                0.0                   0.0
             41   C                                0.0                   0.0
             42   C                                0.0                   0.0

                               CourseType_Corporate_Mandatory  \
                                                          max
USER_ID Year Week EmployeeType
9       2018 7    C                                       0.0
             9    C                                       0.0
             10   C                                       0.0
             11   C                                       0.0
10      2018 20   C                                       0.0
...                                                       ...
1000008 2019 38   C                                       0.0
             39   C                                       0.0
             40   C                                       0.0
             41   C                                       0.0
             42   C                                       0.0

                               CourseType_Product_Mandatory  \
                                                        max
USER_ID Year Week EmployeeType
9       2018 7    C                                     0.0
             9    C                                     0.0
             10   C                                     0.0
             11   C                                     0.0
10      2018 20   C                                     0.0
...                                                     ...
1000008 2019 38   C                                     0.0
             39   C                                     0.0
             40   C                                     0.0
             41   C                                     0.0
             42   C                                     0.0

                               CourseType_Theme_Mandatory       Sales Trained  \
                                                      max         sum     max
USER_ID Year Week EmployeeType
9       2018 7    C                                   0.0      6.2608       0
             9    C                                   0.0     21.2576       0
             10   C                                   0.0     10.0688       0
             11   C                                   0.0      6.7088       0
10      2018 20   C                                   0.0      8.9488       0
...                                                   ...         ...     ...
1000008 2019 38   C                                   0.0  37992.9648       0
             39   C                                   0.0  36192.8112       0
             40   C                                   0.0  33515.8544       0
             41   C                                   0.0  33598.4768       0
             42   C                                   0.0   9303.7056       0

                               HiringDate_HR
                                         max
USER_ID Year Week EmployeeType
9       2018 7    C                      824
             9    C                      824
             10   C                      824
             11   C                      824
10      2018 20   C                      735
...                                      ...
1000008 2019 38   C                      886
             39   C                      886
             40   C                      886
             41   C                      886
             42   C                      886

[492873 rows x 9 columns]

# LINEAR REGRESSION BY WEEK FOR ACCESSORIES

In [115]:
linear1 = linear1.reset_index()
linear1

,USER_ID,Year,Week,EmployeeType,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Trained,HiringDate_HR
,,,,,max,max,max,max,max,max,sum,max,max
0,9,2018,7,C,0.0,0.0,0.0,0.0,0.0,0.0,6.2608,0,824
1,9,2018,9,C,0.0,0.0,0.0,0.0,0.0,0.0,21.2576,0,824
2,9,2018,10,C,0.0,0.0,0.0,0.0,0.0,0.0,10.0688,0,824
3,9,2018,11,C,0.0,0.0,0.0,0.0,0.0,0.0,6.7088,0,824
4,10,2018,20,C,0.0,0.0,0.0,0.0,0.0,0.0,8.9488,0,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
492868,1000008,2019,38,C,0.0,0.0,0.0,0.0,0.0,0.0,37992.9648,0,886
492869,1000008,2019,39,C,0.0,0.0,0.0,0.0,0.0,0.0,36192.8112,0,886
492870,1000008,2019,40,C,0.0,0.0,0.0,0.0,0.0,0.0,33515.8544,0,886
492871,1000008,2019,41,C,0.0,0.0,0.0,0.0,0.0,0.0,33598.4768,0,886
492872,1000008,2019,42,C,0.0,0.0,0.0,0.0,0.0,0.0,9303.7056,0,886

In [72]:
k = {'CourseType_Corporate_Self':['max'], 'CourseType_Product_Self':['max'], 'CourseType_Theme_Self':['max'],'CourseType_Corporate_Mandatory':['max'],\
    'CourseType_Product_Mandatory':['max'],'CourseType_Theme_Mandatory':['max'],'Sales':['sum'],'Retail Units':['sum'],'Trained':['max'],'HiringDate_HR':['max']}

linear2= mergeITEM.groupby(['USER_ID','Year','Week','EmployeeType']).agg(k)

linear2

                               CourseType_Corporate_Self  \
                                                     max
USER_ID Year Week EmployeeType
9       2018 16   C                                  0.0
10      2018 20   C                                  0.0
             21   C                                  0.0
             22   C                                  0.0
11      2018 20   P_PT                               0.0
...                                                  ...
1000008 2019 38   C                                  0.0
             39   C                                  0.0
             40   C                                  0.0
             41   C                                  0.0
             42   C                                  0.0

                               CourseType_Product_Self CourseType_Theme_Self  \
                                                   max                   max
USER_ID Year Week EmployeeType
9       2018 16   C                                0.0                   0.0
10      2018 20   C                                0.0                   0.0
             21   C                                0.0                   0.0
             22   C                                0.0                   0.0
11      2018 20   P_PT                             0.0                   0.0
...                                                ...                   ...
1000008 2019 38   C                                0.0                   0.0
             39   C                                0.0                   0.0
             40   C                                0.0                   0.0
             41   C                                0.0                   0.0
             42   C                                0.0                   0.0

                               CourseType_Corporate_Mandatory  \
                                                          max
USER_ID Year Week EmployeeType
9       2018 16   C                                       0.0
10      2018 20   C                                       0.0
             21   C                                       0.0
             22   C                                       0.0
11      2018 20   P_PT                                    0.0
...                                                       ...
1000008 2019 38   C                                       0.0
             39   C                                       0.0
             40   C                                       0.0
             41   C                                       0.0
             42   C                                       0.0

                               CourseType_Product_Mandatory  \
                                                        max
USER_ID Year Week EmployeeType
9       2018 16   C                                     0.0
10      2018 20   C                                     0.0
             21   C                                     0.0
             22   C                                     0.0
11      2018 20   P_PT                                  0.0
...                                                     ...
1000008 2019 38   C                                     0.0
             39   C                                     0.0
             40   C                                     0.0
             41   C                                     0.0
             42   C                                     0.0

                               CourseType_Theme_Mandatory       Sales  \
                                                      max         sum
USER_ID Year Week EmployeeType
9       2018 16   C                                   0.0    160.1600
10      2018 20   C                                   0.0    490.5600
             21   C                                   0.0    950.8576
             22   C                                   0.0   1375.3936
11      2018 20   P_PT                                0.0    589.1200
...                                                   ...         ...
1000008 2019 38   C                                   0.0  35741.2048
             39   C                                   0.0  39886.9184
             40   C                                   0.0  42666.9376
             41   C                                   0.0  41969.2336
             42   C                                   0.0   9800.7056

                               Retail Units Trained HiringDate_HR
                                        sum     max           max
USER_ID Year Week EmployeeType
9       2018 16   C                     1.0       0           824
10      2018 20   C                     2.0       0           735
             21   C                     6.0       0           735
             22   C                     9.0       0           735
11      2018 20   P_PT                  3.0       0           735
...                                     ...     ...           ...
1000008 2019 38   C                   266.0       0           886
             39   C                   264.0       0           886
             40   C                   269.0       0           886
             41   C                   247.0       0           886
             42   C                    65.0       0           886

[723675 rows x 10 columns]

# LINEAR REGRESSION BY WEEKS FOR ITEM

In [73]:
linear2 = linear2.reset_index()
linear2

,USER_ID,Year,Week,EmployeeType,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail Units,Trained,HiringDate_HR
,,,,,max,max,max,max,max,max,sum,sum,max,max
0,9,2018,16,C,0.0,0.0,0.0,0.0,0.0,0.0,160.1600,1.0,0,824
1,10,2018,20,C,0.0,0.0,0.0,0.0,0.0,0.0,490.5600,2.0,0,735
2,10,2018,21,C,0.0,0.0,0.0,0.0,0.0,0.0,950.8576,6.0,0,735
3,10,2018,22,C,0.0,0.0,0.0,0.0,0.0,0.0,1375.3936,9.0,0,735
4,11,2018,20,P_PT,0.0,0.0,0.0,0.0,0.0,0.0,589.1200,3.0,0,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723670,1000008,2019,38,C,0.0,0.0,0.0,0.0,0.0,0.0,35741.2048,266.0,0,886
723671,1000008,2019,39,C,0.0,0.0,0.0,0.0,0.0,0.0,39886.9184,264.0,0,886
723672,1000008,2019,40,C,0.0,0.0,0.0,0.0,0.0,0.0,42666.9376,269.0,0,886
723673,1000008,2019,41,C,0.0,0.0,0.0,0.0,0.0,0.0,41969.2336,247.0,0,886
723674,1000008,2019,42,C,0.0,0.0,0.0,0.0,0.0,0.0,9800.7056,65.0,0,886

In [74]:
linear2['USER_ID'].value_counts()

584595    88
300416    88
963364    88
582395    88
527743    88
          ..
978615     1
960013     1
741377     1
962749     1
506103     1
Name: USER_ID, Length: 25832, dtype: int64

In [75]:
linear2[linear2['USER_ID']== 584595].head(50)

,USER_ID,Year,Week,EmployeeType,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail Units,Trained,HiringDate_HR
,,,,,max,max,max,max,max,max,sum,sum,max,max
206047,584595,2018,1,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,4146.8784,23.0,1,1476
206048,584595,2018,2,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,4719.4112,28.0,1,1476
206049,584595,2018,3,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,4477.2560,22.0,1,1476
206050,584595,2018,4,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,1802.6400,10.0,1,1476
206051,584595,2018,5,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,2950.6400,16.0,1,1476
206052,584595,2018,6,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,5043.3600,27.0,1,1476
206053,584595,2018,7,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,6600.0256,32.0,1,1476
206054,584595,2018,8,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,6017.9840,30.0,1,1476
206055,584595,2018,9,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,3970.1760,19.0,1,1476
206056,584595,2018,10,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,3580.2816,17.0,1,1476
206057,584595,2018,11,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,7684.2192,37.0,1,1476
206058,584595,2018,12,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,7932.8144,44.0,1,1476
206059,584595,2018,13,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,5232.0128,28.0,1,1476
206060,584595,2018,14,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,4764.0768,26.0,1,1476
206061,584595,2018,15,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,3674.7200,19.0,1,1476
206062,584595,2018,16,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,6063.9600,32.0,1,1476
206063,584595,2018,17,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,2281.4400,11.0,1,1476
206064,584595,2018,18,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,3085.9696,18.0,1,1476
206065,584595,2018,19,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,8901.5920,42.0,1,1476
206066,584595,2018,20,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,3979.1472,20.0,1,1476
206067,584595,2018,21,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,3624.3984,19.0,1,1476
206068,584595,2018,22,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,2877.1680,13.0,1,1476
206069,584595,2018,23,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,3391.2480,15.0,1,1476
206070,584595,2018,24,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,4859.9600,27.0,1,1476
206071,584595,2018,25,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,5125.1760,25.0,1,1476
206072,584595,2018,26,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,4174.5200,21.0,1,1476
206073,584595,2018,27,P_FT,0.0,0.0,0.0,0.0,0.0,0.0,4974.7600,23.0,1,1476
206074,584595,2018,28,P_FT,5.0,0.0,0.0,0.0,0.0,0.0,6377.5936,30.0,1,1476
206075,584595,2018,29,P_FT,5.0,0.0,0.0,0.0,15.0,0.0,3831.0496,17.0,1,1476
206076,584595,2018,30,P_FT,5.0,0.0,0.0,0.0,35.0,0.0,6852.7760,31.0,1,1476
206077,584595,2018,31,P_FT,5.0,0.0,0.0,0.0,35.0,0.0,6467.2832,31.0,1,1476
206078,584595,2018,32,P_FT,5.0,0.0,0.0,0.0,35.0,0.0,6145.8320,33.0,1,1476
206079,584595,2018,33,P_FT,5.0,0.0,10.0,0.0,35.0,0.0,3166.4864,18.0,1,1476
206080,584595,2018,34,P_FT,5.0,0.0,10.0,0.0,35.0,0.0,3772.0704,21.0,1,1476
206081,584595,2018,35,P_FT,5.0,0.0,10.0,0.0,35.0,0.0,1665.3280,8.0,1,1476
206082,584595,2018,36,P_FT,5.0,10.0,10.0,0.0,35.0,0.0,2512.8656,15.0,1,1476
206083,584595,2018,37,P_FT,5.0,10.0,20.0,0.0,35.0,0.0,2624.4064,13.0,1,1476
206084,584595,2018,38,P_FT,5.0,10.0,30.0,0.0,35.0,0.0,5816.2272,31.0,1,1476
206085,584595,2018,39,P_FT,5.0,10.0,70.0,0.0,35.0,0.0,5274.8640,25.0,1,1476
206086,584595,2018,40,P_FT,5.0,10.0,70.0,0.0,65.0,0.0,1888.4880,11.0,1,1476
206087,584595,2018,41,P_FT,5.0,10.0,70.0,0.0,65.0,0.0,3519.1072,17.0,1,1476
206088,584595,2018,42,P_FT,5.0,10.0,70.0,0.0,65.0,0.0,2712.3040,14.0,1,1476
206089,584595,2018,43,P_FT,5.0,10.0,70.0,0.0,65.0,0.0,3660.1600,20.0,1,1476
206090,584595,2018,44,P_FT,5.0,10.0,70.0,0.0,65.0,0.0,2520.8512,14.0,1,1476
206091,584595,2018,45,P_FT,5.0,10.0,80.0,0.0,65.0,0.0,3906.6608,17.0,1,1476
206092,584595,2018,46,P_FT,5.0,10.0,80.0,0.0,65.0,0.0,5831.1568,28.0,1,1476
206093,584595,2018,47,P_FT,5.0,10.0,80.0,0.0,65.0,0.0,9522.1280,47.0,1,1476
206094,584595,2018,48,P_FT,5.0,10.0,80.0,0.0,65.0,0.0,6043.8784,28.0,1,1476
206095,584595,2018,49,P_FT,5.0,10.0,80.0,0.0,65.0,0.0,4939.6368,29.0,1,1476
206096,584595,2018,50,P_FT,5.0,10.0,90.0,0.0,65.0,0.0,4364.5616,22.0,1,1476

In [76]:
linear2.columns = ['USER_ID','Year','Week','EmployeeType','CourseType_Corporate_Self','CourseType_Product_Self',\
                   'CourseType_Theme_Self','CourseType_Corporate_Mandatory','CourseType_Product_Mandatory','CourseType_Theme_Mandatory',\
                   'Sales','Retail_Units','Trained','HiringDate_HR']
linear2

,USER_ID,Year,Week,EmployeeType,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail_Units,Trained,HiringDate_HR
0,9,2018,16,C,0.0,0.0,0.0,0.0,0.0,0.0,160.1600,1.0,0,824
1,10,2018,20,C,0.0,0.0,0.0,0.0,0.0,0.0,490.5600,2.0,0,735
2,10,2018,21,C,0.0,0.0,0.0,0.0,0.0,0.0,950.8576,6.0,0,735
3,10,2018,22,C,0.0,0.0,0.0,0.0,0.0,0.0,1375.3936,9.0,0,735
4,11,2018,20,P_PT,0.0,0.0,0.0,0.0,0.0,0.0,589.1200,3.0,0,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723670,1000008,2019,38,C,0.0,0.0,0.0,0.0,0.0,0.0,35741.2048,266.0,0,886
723671,1000008,2019,39,C,0.0,0.0,0.0,0.0,0.0,0.0,39886.9184,264.0,0,886
723672,1000008,2019,40,C,0.0,0.0,0.0,0.0,0.0,0.0,42666.9376,269.0,0,886
723673,1000008,2019,41,C,0.0,0.0,0.0,0.0,0.0,0.0,41969.2336,247.0,0,886
723674,1000008,2019,42,C,0.0,0.0,0.0,0.0,0.0,0.0,9800.7056,65.0,0,886

In [77]:
linear2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723675 entries, 0 to 723674
Data columns (total 14 columns):
USER_ID                           723675 non-null int64
Year                              723675 non-null int64
Week                              723675 non-null int64
EmployeeType                      723675 non-null object
CourseType_Corporate_Self         723675 non-null float64
CourseType_Product_Self           723675 non-null float64
CourseType_Theme_Self             723675 non-null float64
CourseType_Corporate_Mandatory    723675 non-null float64
CourseType_Product_Mandatory      723675 non-null float64
CourseType_Theme_Mandatory        723675 non-null float64
Sales                             723675 non-null float64
Retail_Units                      723675 non-null float64
Trained                           723675 non-null int32
HiringDate_HR                     723675 non-null int64
dtypes: float64(8), int32(1), int64(4), object(1)
memory usage: 74.5+ MB

In [78]:
linear2=pd.get_dummies(linear2, columns=['EmployeeType'])
linear2=pd.get_dummies(linear2, columns=['Week'])
linear2=pd.get_dummies(linear2, columns=['Year'])

linear2

,USER_ID,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail_Units,Trained,...,Week_45,Week_46,Week_47,Week_48,Week_49,Week_50,Week_51,Week_52,Year_2018,Year_2019
0,9,0.0,0.0,0.0,0.0,0.0,0.0,160.1600,1.0,0,...,0,0,0,0,0,0,0,0,1,0
1,10,0.0,0.0,0.0,0.0,0.0,0.0,490.5600,2.0,0,...,0,0,0,0,0,0,0,0,1,0
2,10,0.0,0.0,0.0,0.0,0.0,0.0,950.8576,6.0,0,...,0,0,0,0,0,0,0,0,1,0
3,10,0.0,0.0,0.0,0.0,0.0,0.0,1375.3936,9.0,0,...,0,0,0,0,0,0,0,0,1,0
4,11,0.0,0.0,0.0,0.0,0.0,0.0,589.1200,3.0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723670,1000008,0.0,0.0,0.0,0.0,0.0,0.0,35741.2048,266.0,0,...,0,0,0,0,0,0,0,0,0,1
723671,1000008,0.0,0.0,0.0,0.0,0.0,0.0,39886.9184,264.0,0,...,0,0,0,0,0,0,0,0,0,1
723672,1000008,0.0,0.0,0.0,0.0,0.0,0.0,42666.9376,269.0,0,...,0,0,0,0,0,0,0,0,0,1
723673,1000008,0.0,0.0,0.0,0.0,0.0,0.0,41969.2336,247.0,0,...,0,0,0,0,0,0,0,0,0,1
723674,1000008,0.0,0.0,0.0,0.0,0.0,0.0,9800.7056,65.0,0,...,0,0,0,0,0,0,0,0,0,1

In [79]:
linear2['SUMTRAIN'] = linear2.loc[:, 'CourseType_Corporate_Self':'CourseType_Theme_Mandatory'].sum(1)

In [80]:
linear2['diff'] = linear2.groupby('USER_ID')['SUMTRAIN'].diff()

In [81]:
linear22 = linear2

In [82]:
def nan_with_cond(linear22):
    if ~np.isnan(linear22['diff']) : return linear22['diff']
    else: 
        if linear22[linear22['SUMTRAIN'] != 0] : return 0
        else : return 1

linear22['diff']= linear22.apply(nan_with_cond , axis=1)

In [83]:
def f(row):
    if row['diff'] == 0:
        val = 0
    else:
        val = 1
    return val

In [84]:
linear22['TRAIN'] = linear22.apply(f, axis=1)

In [85]:
linear22['diff2'] = linear22.groupby('USER_ID')['TRAIN'].diff()

def nan_with_cond2(linear22):
    if ~np.isnan(linear22['diff2']) : return linear22['diff2']
    else: 
        if linear22[linear22['TRAIN'] != 0] : return 0
        else : return 1

linear22['diff2']= linear22.apply(nan_with_cond2 , axis=1)

In [86]:
def per(row):
    if row['diff2'] == -1:
        val = 1
    else:
        val = 0
    return val

linear22['diff2'] = linear22.apply(per, axis=1)

In [87]:
linear22.loc[linear22['diff2'] == 1, 'TRAIN'] = 1

In [88]:
linear22[linear22['USER_ID']== 584595].head(50)

,USER_ID,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail_Units,Trained,...,Week_49,Week_50,Week_51,Week_52,Year_2018,Year_2019,SUMTRAIN,diff,TRAIN,diff2
206047,584595,0.0,0.0,0.0,0.0,0.0,0.0,4146.8784,23.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206048,584595,0.0,0.0,0.0,0.0,0.0,0.0,4719.4112,28.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206049,584595,0.0,0.0,0.0,0.0,0.0,0.0,4477.2560,22.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206050,584595,0.0,0.0,0.0,0.0,0.0,0.0,1802.6400,10.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206051,584595,0.0,0.0,0.0,0.0,0.0,0.0,2950.6400,16.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206052,584595,0.0,0.0,0.0,0.0,0.0,0.0,5043.3600,27.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206053,584595,0.0,0.0,0.0,0.0,0.0,0.0,6600.0256,32.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206054,584595,0.0,0.0,0.0,0.0,0.0,0.0,6017.9840,30.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206055,584595,0.0,0.0,0.0,0.0,0.0,0.0,3970.1760,19.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206056,584595,0.0,0.0,0.0,0.0,0.0,0.0,3580.2816,17.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206057,584595,0.0,0.0,0.0,0.0,0.0,0.0,7684.2192,37.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206058,584595,0.0,0.0,0.0,0.0,0.0,0.0,7932.8144,44.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206059,584595,0.0,0.0,0.0,0.0,0.0,0.0,5232.0128,28.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206060,584595,0.0,0.0,0.0,0.0,0.0,0.0,4764.0768,26.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206061,584595,0.0,0.0,0.0,0.0,0.0,0.0,3674.7200,19.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206062,584595,0.0,0.0,0.0,0.0,0.0,0.0,6063.9600,32.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206063,584595,0.0,0.0,0.0,0.0,0.0,0.0,2281.4400,11.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206064,584595,0.0,0.0,0.0,0.0,0.0,0.0,3085.9696,18.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206065,584595,0.0,0.0,0.0,0.0,0.0,0.0,8901.5920,42.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206066,584595,0.0,0.0,0.0,0.0,0.0,0.0,3979.1472,20.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206067,584595,0.0,0.0,0.0,0.0,0.0,0.0,3624.3984,19.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206068,584595,0.0,0.0,0.0,0.0,0.0,0.0,2877.1680,13.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206069,584595,0.0,0.0,0.0,0.0,0.0,0.0,3391.2480,15.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206070,584595,0.0,0.0,0.0,0.0,0.0,0.0,4859.9600,27.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206071,584595,0.0,0.0,0.0,0.0,0.0,0.0,5125.1760,25.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206072,584595,0.0,0.0,0.0,0.0,0.0,0.0,4174.5200,21.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206073,584595,0.0,0.0,0.0,0.0,0.0,0.0,4974.7600,23.0,1,...,0,0,0,0,1,0,0.0,0.0,0,0
206074,584595,5.0,0.0,0.0,0.0,0.0,0.0,6377.5936,30.0,1,...,0,0,0,0,1,0,5.0,5.0,1,0
206075,584595,5.0,0.0,0.0,0.0,15.0,0.0,3831.0496,17.0,1,...,0,0,0,0,1,0,20.0,15.0,1,0
206076,584595,5.0,0.0,0.0,0.0,35.0,0.0,6852.7760,31.0,1,...,0,0,0,0,1,0,40.0,20.0,1,0
206077,584595,5.0,0.0,0.0,0.0,35.0,0.0,6467.2832,31.0,1,...,0,0,0,0,1,0,40.0,0.0,1,1
206078,584595,5.0,0.0,0.0,0.0,35.0,0.0,6145.8320,33.0,1,...,0,0,0,0,1,0,40.0,0.0,0,0
206079,584595,5.0,0.0,10.0,0.0,35.0,0.0,3166.4864,18.0,1,...,0,0,0,0,1,0,50.0,10.0,1,0
206080,584595,5.0,0.0,10.0,0.0,35.0,0.0,3772.0704,21.0,1,...,0,0,0,0,1,0,50.0,0.0,1,1
206081,584595,5.0,0.0,10.0,0.0,35.0,0.0,1665.3280,8.0,1,...,0,0,0,0,1,0,50.0,0.0,0,0
206082,584595,5.0,10.0,10.0,0.0,35.0,0.0,2512.8656,15.0,1,...,0,0,0,0,1,0,60.0,10.0,1,0
206083,584595,5.0,10.0,20.0,0.0,35.0,0.0,2624.4064,13.0,1,...,0,0,0,0,1,0,70.0,10.0,1,0
206084,584595,5.0,10.0,30.0,0.0,35.0,0.0,5816.2272,31.0,1,...,0,0,0,0,1,0,80.0,10.0,1,0
206085,584595,5.0,10.0,70.0,0.0,35.0,0.0,5274.8640,25.0,1,...,0,0,0,0,1,0,120.0,40.0,1,0
206086,584595,5.0,10.0,70.0,0.0,65.0,0.0,1888.4880,11.0,1,...,0,0,0,0,1,0,150.0,30.0,1,0
206087,584595,5.0,10.0,70.0,0.0,65.0,0.0,3519.1072,17.0,1,...,0,0,0,0,1,0,150.0,0.0,1,1
206088,584595,5.0,10.0,70.0,0.0,65.0,0.0,2712.3040,14.0,1,...,0,0,0,0,1,0,150.0,0.0,0,0
206089,584595,5.0,10.0,70.0,0.0,65.0,0.0,3660.1600,20.0,1,...,0,0,0,0,1,0,150.0,0.0,0,0
206090,584595,5.0,10.0,70.0,0.0,65.0,0.0,2520.8512,14.0,1,...,0,0,0,0,1,0,150.0,0.0,0,0
206091,584595,5.0,10.0,80.0,0.0,65.0,0.0,3906.6608,17.0,1,...,0,0,0,0,1,0,160.0,10.0,1,0
206092,584595,5.0,10.0,80.0,0.0,65.0,0.0,5831.1568,28.0,1,...,0,0,0,0,1,0,160.0,0.0,1,1
206093,584595,5.0,10.0,80.0,0.0,65.0,0.0,9522.1280,47.0,1,...,0,0,0,0,1,0,160.0,0.0,0,0
206094,584595,5.0,10.0,80.0,0.0,65.0,0.0,6043.8784,28.0,1,...,0,0,0,0,1,0,160.0,0.0,0,0
206095,584595,5.0,10.0,80.0,0.0,65.0,0.0,4939.6368,29.0,1,...,1,0,0,0,1,0,160.0,0.0,0,0
206096,584595,5.0,10.0,90.0,0.0,65.0,0.0,4364.5616,22.0,1,...,0,1,0,0,1,0,170.0,10.0,1,0

In [89]:
linear22['Sales_ln'] = np.log(linear22['Sales'])
linear22['SUMTRAIN_ln'] = np.log(linear22['SUMTRAIN']+5)
linear22['HiringDate_HR_ln'] = np.log(linear22['HiringDate_HR'])

columns=['CourseType_Corporate_Self','CourseType_Product_Self','CourseType_Theme_Self','CourseType_Corporate_Mandatory','CourseType_Product_Mandatory','CourseType_Theme_Mandatory']

for i in columns:
    linear22[i+'_ln'] = np.log(linear22[i]+5)

In [101]:
def per2(row):
    if row['SUMTRAIN'] == 0 :
        val = 0
    else:
        val = 1
    return val

linear22['TRAIN2'] = linear22.apply(per2, axis=1)

In [102]:
linear22[linear22['USER_ID']== 584595].head(50)

,USER_ID,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail_Units,Trained,...,Sales_ln,SUMTRAIN_ln,HiringDate_HR_ln,CourseType_Corporate_Self_ln,CourseType_Product_Self_ln,CourseType_Theme_Self_ln,CourseType_Corporate_Mandatory_ln,CourseType_Product_Mandatory_ln,CourseType_Theme_Mandatory_ln,TRAIN2
206047,584595,0.0,0.0,0.0,0.0,0.0,0.0,4146.8784,23.0,1,...,8.330111,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206048,584595,0.0,0.0,0.0,0.0,0.0,0.0,4719.4112,28.0,1,...,8.459439,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206049,584595,0.0,0.0,0.0,0.0,0.0,0.0,4477.2560,22.0,1,...,8.406766,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206050,584595,0.0,0.0,0.0,0.0,0.0,0.0,1802.6400,10.0,1,...,7.497008,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206051,584595,0.0,0.0,0.0,0.0,0.0,0.0,2950.6400,16.0,1,...,7.989777,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206052,584595,0.0,0.0,0.0,0.0,0.0,0.0,5043.3600,27.0,1,...,8.525828,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206053,584595,0.0,0.0,0.0,0.0,0.0,0.0,6600.0256,32.0,1,...,8.794829,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206054,584595,0.0,0.0,0.0,0.0,0.0,0.0,6017.9840,30.0,1,...,8.702508,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206055,584595,0.0,0.0,0.0,0.0,0.0,0.0,3970.1760,19.0,1,...,8.286566,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206056,584595,0.0,0.0,0.0,0.0,0.0,0.0,3580.2816,17.0,1,...,8.183197,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206057,584595,0.0,0.0,0.0,0.0,0.0,0.0,7684.2192,37.0,1,...,8.946924,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206058,584595,0.0,0.0,0.0,0.0,0.0,0.0,7932.8144,44.0,1,...,8.978763,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206059,584595,0.0,0.0,0.0,0.0,0.0,0.0,5232.0128,28.0,1,...,8.562551,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206060,584595,0.0,0.0,0.0,0.0,0.0,0.0,4764.0768,26.0,1,...,8.468859,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206061,584595,0.0,0.0,0.0,0.0,0.0,0.0,3674.7200,19.0,1,...,8.209232,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206062,584595,0.0,0.0,0.0,0.0,0.0,0.0,6063.9600,32.0,1,...,8.710118,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206063,584595,0.0,0.0,0.0,0.0,0.0,0.0,2281.4400,11.0,1,...,7.732562,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206064,584595,0.0,0.0,0.0,0.0,0.0,0.0,3085.9696,18.0,1,...,8.034621,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206065,584595,0.0,0.0,0.0,0.0,0.0,0.0,8901.5920,42.0,1,...,9.093985,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206066,584595,0.0,0.0,0.0,0.0,0.0,0.0,3979.1472,20.0,1,...,8.288823,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206067,584595,0.0,0.0,0.0,0.0,0.0,0.0,3624.3984,19.0,1,...,8.195444,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206068,584595,0.0,0.0,0.0,0.0,0.0,0.0,2877.1680,13.0,1,...,7.964562,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206069,584595,0.0,0.0,0.0,0.0,0.0,0.0,3391.2480,15.0,1,...,8.128953,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206070,584595,0.0,0.0,0.0,0.0,0.0,0.0,4859.9600,27.0,1,...,8.488785,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206071,584595,0.0,0.0,0.0,0.0,0.0,0.0,5125.1760,25.0,1,...,8.541920,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206072,584595,0.0,0.0,0.0,0.0,0.0,0.0,4174.5200,21.0,1,...,8.336755,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206073,584595,0.0,0.0,0.0,0.0,0.0,0.0,4974.7600,23.0,1,...,8.512132,1.609438,7.297091,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
206074,584595,5.0,0.0,0.0,0.0,0.0,0.0,6377.5936,30.0,1,...,8.760546,2.302585,7.297091,2.302585,1.609438,1.609438,1.609438,1.609438,1.609438,1
206075,584595,5.0,0.0,0.0,0.0,15.0,0.0,3831.0496,17.0,1,...,8.250894,3.218876,7.297091,2.302585,1.609438,1.609438,1.609438,2.995732,1.609438,1
206076,584595,5.0,0.0,0.0,0.0,35.0,0.0,6852.7760,31.0,1,...,8.832409,3.806662,7.297091,2.302585,1.609438,1.609438,1.609438,3.688879,1.609438,1
206077,584595,5.0,0.0,0.0,0.0,35.0,0.0,6467.2832,31.0,1,...,8.774511,3.806662,7.297091,2.302585,1.609438,1.609438,1.609438,3.688879,1.609438,1
206078,584595,5.0,0.0,0.0,0.0,35.0,0.0,6145.8320,33.0,1,...,8.723529,3.806662,7.297091,2.302585,1.609438,1.609438,1.609438,3.688879,1.609438,1
206079,584595,5.0,0.0,10.0,0.0,35.0,0.0,3166.4864,18.0,1,...,8.060378,4.007333,7.297091,2.302585,1.609438,2.708050,1.609438,3.688879,1.609438,1
206080,584595,5.0,0.0,10.0,0.0,35.0,0.0,3772.0704,21.0,1,...,8.235379,4.007333,7.297091,2.302585,1.609438,2.708050,1.609438,3.688879,1.609438,1
206081,584595,5.0,0.0,10.0,0.0,35.0,0.0,1665.3280,8.0,1,...,7.417777,4.007333,7.297091,2.302585,1.609438,2.708050,1.609438,3.688879,1.609438,1
206082,584595,5.0,10.0,10.0,0.0,35.0,0.0,2512.8656,15.0,1,...,7.829179,4.174387,7.297091,2.302585,2.708050,2.708050,1.609438,3.688879,1.609438,1
206083,584595,5.0,10.0,20.0,0.0,35.0,0.0,2624.4064,13.0,1,...,7.872610,4.317488,7.297091,2.302585,2.708050,3.218876,1.609438,3.688879,1.609438,1
206084,584595,5.0,10.0,30.0,0.0,35.0,0.0,5816.2272,31.0,1,...,8.668407,4.442651,7.297091,2.302585,2.708050,3.555348,1.609438,3.688879,1.609438,1
206085,584595,5.0,10.0,70.0,0.0,35.0,0.0,5274.8640,25.0,1,...,8.570708,4.828314,7.297091,2.302585,2.708050,4.317488,1.609438,3.688879,1.609438,1
206086,584595,5.0,10.0,70.0,0.0,65.0,0.0,1888.4880,11.0,1,...,7.543532,5.043425,7.297091,2.302585,2.708050,4.317488,1.609438,4.248495,1.609438,1
206087,584595,5.0,10.0,70.0,0.0,65.0,0.0,3519.1072,17.0,1,...,8.165963,5.043425,7.297091,2.302585,2.708050,4.317488,1.609438,4.248495,1.609438,1
206088,584595,5.0,10.0,70.0,0.0,65.0,0.0,2712.3040,14.0,1,...,7.905554,5.043425,7.297091,2.302585,2.708050,4.317488,1.609438,4.248495,1.609438,1
206089,584595,5.0,10.0,70.0,0.0,65.0,0.0,3660.1600,20.0,1,...,8.205262,5.043425,7.297091,2.302585,2.708050,4.317488,1.609438,4.248495,1.609438,1
206090,584595,5.0,10.0,70.0,0.0,65.0,0.0,2520.8512,14.0,1,...,7.832352,5.043425,7.297091,2.302585,2.708050,4.317488,1.609438,4.248495,1.609438,1
206091,584595,5.0,10.0,80.0,0.0,65.0,0.0,3906.6608,17.0,1,...,8.270438,5.105945,7.297091,2.302585,2.708050,4.442651,1.609438,4.248495,1.609438,1
206092,584595,5.0,10.0,80.0,0.0,65.0,0.0,5831.1568,28.0,1,...,8.670971,5.105945,7.297091,2.302585,2.708050,4.442651,1.609438,4.248495,1.609438,1
206093,584595,5.0,10.0,80.0,0.0,65.0,0.0,9522.1280,47.0,1,...,9.161374,5.105945,7.297091,2.302585,2.708050,4.442651,1.609438,4.248495,1.609438,1
206094,584595,5.0,10.0,80.0,0.0,65.0,0.0,6043.8784,28.0,1,...,8.706801,5.105945,7.297091,2.302585,2.708050,4.442651,1.609438,4.248495,1.609438,1
206095,584595,5.0,10.0,80.0,0.0,65.0,0.0,4939.6368,29.0,1,...,8.505047,5.105945,7.297091,2.302585,2.708050,4.442651,1.609438,4.248495,1.609438,1
206096,584595,5.0,10.0,90.0,0.0,65.0,0.0,4364.5616,22.0,1,...,8.381273,5.164786,7.297091,2.302585,2.708050,4.553877,1.609438,4.248495,1.609438,1

In [107]:
linear22

,USER_ID,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail_Units,Trained,...,Sales_ln,SUMTRAIN_ln,HiringDate_HR_ln,CourseType_Corporate_Self_ln,CourseType_Product_Self_ln,CourseType_Theme_Self_ln,CourseType_Corporate_Mandatory_ln,CourseType_Product_Mandatory_ln,CourseType_Theme_Mandatory_ln,TRAIN2
0,9,0.0,0.0,0.0,0.0,0.0,0.0,160.1600,1.0,0,...,5.076173,1.609438,6.714171,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
1,10,0.0,0.0,0.0,0.0,0.0,0.0,490.5600,2.0,0,...,6.195548,1.609438,6.599870,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
2,10,0.0,0.0,0.0,0.0,0.0,0.0,950.8576,6.0,0,...,6.857364,1.609438,6.599870,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
3,10,0.0,0.0,0.0,0.0,0.0,0.0,1375.3936,9.0,0,...,7.226495,1.609438,6.599870,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
4,11,0.0,0.0,0.0,0.0,0.0,0.0,589.1200,3.0,0,...,6.378630,1.609438,6.599870,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723670,1000008,0.0,0.0,0.0,0.0,0.0,0.0,35741.2048,266.0,0,...,10.484059,1.609438,6.786717,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
723671,1000008,0.0,0.0,0.0,0.0,0.0,0.0,39886.9184,264.0,0,...,10.593804,1.609438,6.786717,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
723672,1000008,0.0,0.0,0.0,0.0,0.0,0.0,42666.9376,269.0,0,...,10.661180,1.609438,6.786717,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
723673,1000008,0.0,0.0,0.0,0.0,0.0,0.0,41969.2336,247.0,0,...,10.644692,1.609438,6.786717,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0
723674,1000008,0.0,0.0,0.0,0.0,0.0,0.0,9800.7056,65.0,0,...,9.190210,1.609438,6.786717,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438,0

In [108]:
linear30 = linear22

In [111]:
linear30 = linear30.drop(['CourseType_Corporate_Self','CourseType_Product_Self','CourseType_Theme_Self','CourseType_Corporate_Mandatory','CourseType_Product_Mandatory','CourseType_Theme_Mandatory','Sales'], axis=1)

In [91]:
from statsmodels.compat import lzip
import statsmodels.api as sm
from statsmodels.formula.api import ols

# ITEM

In [161]:
model2 = ols('Sales_ln ~ CourseType_Corporate_Self_ln + CourseType_Product_Self_ln + CourseType_Theme_Self_ln +\
                            CourseType_Corporate_Mandatory_ln + CourseType_Product_Mandatory_ln +\
                            CourseType_Theme_Mandatory_ln + TRAIN2 + HiringDate_HR_ln + EmployeeType_C + EmployeeType_P_FT +Week_2+Week_3+\
                            Week_4+Week_5+Week_6+Week_7+Week_8+Week_9+Week_10+Week_11+Week_12+Week_13+Week_14+Week_15+Week_16+Week_17+\
                            Week_18+Week_19+Week_20+Week_21+Week_22+Week_23+Week_24+Week_25+Week_26+Week_27+Week_28+Week_29+Week_30+Week_31+\
                            Week_32+Week_33+Week_34+Week_35+Week_36+Week_37+Week_38+Week_39+Week_40+Week_41+Week_42+Week_43+Week_44+\
                            Week_45+Week_46+Week_47+Week_48+Week_49+Week_50+Week_51+Week_52+Year_2019'\
             , data=linear22).fit()

print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Sales_ln   R-squared:                       0.255
Model:                            OLS   Adj. R-squared:                  0.255
Method:                 Least Squares   F-statistic:                     3991.
Date:                Tue, 05 May 2020   Prob (F-statistic):               0.00
Time:                        22:39:26   Log-Likelihood:            -9.7570e+05
No. Observations:              723675   AIC:                         1.952e+06
Df Residuals:                  723612   BIC:                         1.952e+06
Df Model:                          62
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Intercept                             6.6820      0.016    412.584      0.000       6.650       6.714
CourseType_Corporate_Self_ln          0.0369      0.002     16.486      0.000       0.033       0.041
CourseType_Product_Self_ln            0.0720      0.003     26.744      0.000       0.067       0.077
CourseType_Theme_Self_ln              0.0201      0.002      9.576      0.000       0.016       0.024
CourseType_Corporate_Mandatory_ln    -0.0511      0.002    -21.879      0.000      -0.056      -0.047
CourseType_Product_Mandatory_ln      -0.0061      0.002     -3.172      0.002      -0.010      -0.002
CourseType_Theme_Mandatory_ln        -0.0538      0.002    -21.912      0.000      -0.059      -0.049
TRAIN2                                0.0438      0.004     11.045      0.000       0.036       0.052
HiringDate_HR_ln                      0.0839      0.002     42.110      0.000       0.080       0.088
EmployeeType_C                       -0.4273      0.004   -120.526      0.000      -0.434      -0.420
EmployeeType_P_FT                     0.4852      0.004    125.387      0.000       0.478       0.493
Week_2                               -0.2126      0.011    -20.175      0.000      -0.233      -0.192
Week_3                               -0.2142      0.011    -20.074      0.000      -0.235      -0.193
Week_4                               -0.1750      0.011    -16.250      0.000      -0.196      -0.154
Week_5                               -0.1103      0.011    -10.253      0.000      -0.131      -0.089
Week_6                               -0.0808      0.011     -7.507      0.000      -0.102      -0.060
Week_7                                0.1917      0.011     17.994      0.000       0.171       0.213
Week_8                                0.0965      0.011      9.032      0.000       0.076       0.117
Week_9                                0.1326      0.011     12.409      0.000       0.112       0.153
Week_10                               0.2159      0.011     20.256      0.000       0.195       0.237
Week_11                               0.3475      0.011     32.689      0.000       0.327       0.368
Week_12                               0.3780      0.011     35.662      0.000       0.357       0.399
Week_13                               0.4584      0.011     43.351      0.000       0.438       0.479
Week_14                               0.2320      0.013     17.610      0.000       0.206       0.258
Week_15                               0.3391      0.013     26.065      0.000       0.314       0.365
Week_16                               0.3599      0.013     27.699      0.000       0.334       0.385
Week_17                               0.4630      0.013     35.726      0.000       0.438       0.488
Week_18                               0.5169      0.013     39.798      0.000       0.491       0.542
Week_19                               0.7106      0.013     55.435      0.000       0.685       0.736
Week_20                               0.2307      0.011     21.306      0.000       0.209       0.252
Week_21                               0.5758      0.010     55.406      0.000       0.555       0.596
Week_22                               0.6297      0.010     60.813      0.000       0.609       0.650
Week_23                               0.5622      0.010     54.270      0.000       0.542       0.583
Week_24                               0.7510      0.010     73.145      0.000       0.731       0.771
Week_25                               0.5854      0.010     56.782      0.000       0.565       0.606
Week_26                               0.2939      0.011     26.395      0.000       0.272       0.316
Week_27                               0.7150      0.010     69.388      0.000       0.695       0.735
Week_28                               0.5306      0.010     51.474      0.000       0.510       0.551
Week_29                               0.5050      0.010     48.858      0.000       0.485       0.525
Week_30                               0.4587      0.010     44.234      0.000       0.438       0.479
Week_31                               0.4492      0.010     43.196      0.000       0.429       0.470
Week_32                               0.4144      0.010     39.720      0.000       0.394       0.435
Week_33                               0.3459      0.010     32.982      0.000       0.325       0.366
Week_34                               0.2688      0.011     25.468      0.000       0.248       0.289
Week_35                               0.2352      0.011     22.150      0.000       0.214       0.256
Week_36                               0.1274      0.011     11.900      0.000       0.106       0.148
Week_37                              -0.0651      0.011     -6.039      0.000      -0.086      -0.044
Week_38                              -0.0476      0.011     -4.413      0.000      -0.069      -0.026
Week_39                              -0.1075      0.011     -9.915      0.000      -0.129      -0.086
Week_40                              -0.1608      0.011    -14.819      0.000      -0.182      -0.140
Week_41                              -0.1911      0.011    -17.619      0.000      -0.212      -0.170
Week_42                              -0.4244      0.011    -37.751      0.000      -0.446      -0.402
Week_43                              -0.3240      0.013    -24.250      0.000      -0.350      -0.298
Week_44                              -0.3769      0.013    -27.958      0.000      -0.403      -0.350
Week_45                              -0.3697      0.013    -27.576      0.000      -0.396      -0.343
Week_46                              -0.3674      0.013    -27.736      0.000      -0.393      -0.341
Week_47                               0.3389      0.012     27.189      0.000       0.314       0.363
Week_48                              -0.3364      0.013    -25.689      0.000      -0.362      -0.311
Week_49                              -0.1890      0.013    -14.571      0.000      -0.214      -0.164
Week_50                               0.0843      0.013      6.589      0.000       0.059       0.109
Week_51                               0.7223      0.012     57.882      0.000       0.698       0.747
Week_52                               0.5792      0.013     45.303      0.000       0.554       0.604
Year_2019                            -0.1538      0.005    -32.104      0.000      -0.163      -0.144
==============================================================================
Omnibus:                    42800.594   Durbin-Watson:                   0.889
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            56858.812
Skew:                          -0.554   Prob(JB):                         0.00
Kurtosis:                       3.810   Cond. No.                         485.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# ACCESSORIES

In [116]:
linear1

,USER_ID,Year,Week,EmployeeType,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Trained,HiringDate_HR
,,,,,max,max,max,max,max,max,sum,max,max
0,9,2018,7,C,0.0,0.0,0.0,0.0,0.0,0.0,6.2608,0,824
1,9,2018,9,C,0.0,0.0,0.0,0.0,0.0,0.0,21.2576,0,824
2,9,2018,10,C,0.0,0.0,0.0,0.0,0.0,0.0,10.0688,0,824
3,9,2018,11,C,0.0,0.0,0.0,0.0,0.0,0.0,6.7088,0,824
4,10,2018,20,C,0.0,0.0,0.0,0.0,0.0,0.0,8.9488,0,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
492868,1000008,2019,38,C,0.0,0.0,0.0,0.0,0.0,0.0,37992.9648,0,886
492869,1000008,2019,39,C,0.0,0.0,0.0,0.0,0.0,0.0,36192.8112,0,886
492870,1000008,2019,40,C,0.0,0.0,0.0,0.0,0.0,0.0,33515.8544,0,886
492871,1000008,2019,41,C,0.0,0.0,0.0,0.0,0.0,0.0,33598.4768,0,886
492872,1000008,2019,42,C,0.0,0.0,0.0,0.0,0.0,0.0,9303.7056,0,886

In [117]:
linear1.columns = ['USER_ID','Year','Week','EmployeeType','CourseType_Corporate_Self','CourseType_Product_Self',\
                   'CourseType_Theme_Self','CourseType_Corporate_Mandatory','CourseType_Product_Mandatory','CourseType_Theme_Mandatory',\
                   'Sales','Trained', 'HiringDate_HR']

linear1

,USER_ID,Year,Week,EmployeeType,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Trained,HiringDate_HR
0,9,2018,7,C,0.0,0.0,0.0,0.0,0.0,0.0,6.2608,0,824
1,9,2018,9,C,0.0,0.0,0.0,0.0,0.0,0.0,21.2576,0,824
2,9,2018,10,C,0.0,0.0,0.0,0.0,0.0,0.0,10.0688,0,824
3,9,2018,11,C,0.0,0.0,0.0,0.0,0.0,0.0,6.7088,0,824
4,10,2018,20,C,0.0,0.0,0.0,0.0,0.0,0.0,8.9488,0,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
492868,1000008,2019,38,C,0.0,0.0,0.0,0.0,0.0,0.0,37992.9648,0,886
492869,1000008,2019,39,C,0.0,0.0,0.0,0.0,0.0,0.0,36192.8112,0,886
492870,1000008,2019,40,C,0.0,0.0,0.0,0.0,0.0,0.0,33515.8544,0,886
492871,1000008,2019,41,C,0.0,0.0,0.0,0.0,0.0,0.0,33598.4768,0,886
492872,1000008,2019,42,C,0.0,0.0,0.0,0.0,0.0,0.0,9303.7056,0,886

In [118]:
linear1=pd.get_dummies(linear1, columns=['EmployeeType'])
linear1=pd.get_dummies(linear1, columns=['Week'])
linear1=pd.get_dummies(linear1, columns=['Year'])

for col in linear1.columns:
    print(col)

USER_ID
CourseType_Corporate_Self
CourseType_Product_Self
CourseType_Theme_Self
CourseType_Corporate_Mandatory
CourseType_Product_Mandatory
CourseType_Theme_Mandatory
Sales
Trained
HiringDate_HR
EmployeeType_C
EmployeeType_P_FT
EmployeeType_P_PT
Week_1
Week_2
Week_3
Week_4
Week_5
Week_6
Week_7
Week_8
Week_9
Week_10
Week_11
Week_12
Week_13
Week_14
Week_15
Week_16
Week_17
Week_18
Week_19
Week_20
Week_21
Week_22
Week_23
Week_24
Week_25
Week_26
Week_27
Week_28
Week_29
Week_30
Week_31
Week_32
Week_33
Week_34
Week_35
Week_36
Week_37
Week_38
Week_39
Week_40
Week_41
Week_42
Week_43
Week_44
Week_45
Week_46
Week_47
Week_48
Week_49
Week_50
Week_51
Week_52
Year_2018
Year_2019

In [123]:
linear1['SUMTRAIN'] = linear1.loc[:, 'CourseType_Corporate_Self':'CourseType_Theme_Mandatory'].sum(1)
linear1['diff'] = linear1.groupby('USER_ID')['SUMTRAIN'].diff()
linear11 = linear1

In [126]:
linear11['diff']= linear11.apply(nan_with_cond , axis=1)

In [128]:
linear11['TRAIN2'] = linear11.apply(per2, axis=1)

In [132]:
linear11['Sales_ln'] = np.log(linear11['Sales'])
linear11['SUMTRAIN_ln'] = np.log(linear11['SUMTRAIN']+5)
linear11['HiringDate_HR_ln'] = np.log(linear11['HiringDate_HR'])

columns=['CourseType_Corporate_Self','CourseType_Product_Self','CourseType_Theme_Self','CourseType_Corporate_Mandatory','CourseType_Product_Mandatory','CourseType_Theme_Mandatory']

for i in columns:
    linear11[i+'_ln'] = np.log(linear11[i]+5)

In [140]:
linear1

,USER_ID,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Trained,HiringDate_HR,...,TRAIN2,Sales_ln,SUMTRAIN_ln,HiringDate_HR_ln,CourseType_Corporate_Self_ln,CourseType_Product_Self_ln,CourseType_Theme_Self_ln,CourseType_Corporate_Mandatory_ln,CourseType_Product_Mandatory_ln,CourseType_Theme_Mandatory_ln
0,9,0.0,0.0,0.0,0.0,0.0,0.0,6.2608,0,824,...,0,1.834308,1.609438,6.714171,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438
1,9,0.0,0.0,0.0,0.0,0.0,0.0,21.2576,0,824,...,0,3.056714,1.609438,6.714171,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438
2,9,0.0,0.0,0.0,0.0,0.0,0.0,10.0688,0,824,...,0,2.309442,1.609438,6.714171,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438
3,9,0.0,0.0,0.0,0.0,0.0,0.0,6.7088,0,824,...,0,1.903420,1.609438,6.714171,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438
4,10,0.0,0.0,0.0,0.0,0.0,0.0,8.9488,0,735,...,0,2.191519,1.609438,6.599870,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492868,1000008,0.0,0.0,0.0,0.0,0.0,0.0,37992.9648,0,886,...,0,10.545156,1.609438,6.786717,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438
492869,1000008,0.0,0.0,0.0,0.0,0.0,0.0,36192.8112,0,886,...,0,10.496616,1.609438,6.786717,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438
492870,1000008,0.0,0.0,0.0,0.0,0.0,0.0,33515.8544,0,886,...,0,10.419774,1.609438,6.786717,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438
492871,1000008,0.0,0.0,0.0,0.0,0.0,0.0,33598.4768,0,886,...,0,10.422236,1.609438,6.786717,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438
492872,1000008,0.0,0.0,0.0,0.0,0.0,0.0,9303.7056,0,886,...,0,9.138168,1.609438,6.786717,1.609438,1.609438,1.609438,1.609438,1.609438,1.609438

In [144]:
model1 = ols('Sales_ln ~ CourseType_Corporate_Self_ln + CourseType_Product_Self_ln + CourseType_Theme_Self_ln +\
                            CourseType_Corporate_Mandatory_ln + CourseType_Product_Mandatory_ln +\
                            CourseType_Theme_Mandatory_ln + TRAIN2 + HiringDate_HR_ln + EmployeeType_C + EmployeeType_P_FT +Week_2+Week_3+\
                            Week_4+Week_5+Week_6+Week_7+Week_8+Week_9+Week_10+Week_11+Week_12+Week_13+Week_14+Week_15+Week_16+Week_17+\
                            Week_18+Week_19+Week_20+Week_21+Week_22+Week_23+Week_24+Week_25+Week_26+Week_27+Week_28+Week_29+Week_30+Week_31+\
                            Week_32+Week_33+Week_34+Week_35+Week_36+Week_37+Week_38+Week_39+Week_40+Week_41+Week_42+Week_43+Week_44+\
                            Week_45+Week_46+Week_47+Week_48+Week_49+Week_50+Week_51+Week_52'\
             , data=linear11).fit()

print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Sales_ln   R-squared:                       0.152
Model:                            OLS   Adj. R-squared:                  0.152
Method:                 Least Squares   F-statistic:                     1453.
Date:                Tue, 05 May 2020   Prob (F-statistic):               0.00
Time:                        22:17:19   Log-Likelihood:            -6.1438e+05
No. Observations:              492873   AIC:                         1.229e+06
Df Residuals:                  492811   BIC:                         1.230e+06
Df Model:                          61
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Intercept                             2.6180      0.017    150.683      0.000       2.584       2.652
CourseType_Corporate_Self_ln          0.1463      0.002     61.432      0.000       0.142       0.151
CourseType_Product_Self_ln            0.0073      0.003      2.511      0.012       0.002       0.013
CourseType_Theme_Self_ln              0.0135      0.002      6.305      0.000       0.009       0.018
CourseType_Corporate_Mandatory_ln     0.0811      0.002     33.755      0.000       0.076       0.086
CourseType_Product_Mandatory_ln      -0.0075      0.002     -3.715      0.000      -0.012      -0.004
CourseType_Theme_Mandatory_ln        -0.0058      0.002     -2.382      0.017      -0.011      -0.001
TRAIN2                               -0.0815      0.004    -19.081      0.000      -0.090      -0.073
HiringDate_HR_ln                      0.0047      0.002      2.335      0.020       0.001       0.009
EmployeeType_C                       -0.1866      0.004    -47.935      0.000      -0.194      -0.179
EmployeeType_P_FT                     0.3480      0.004     85.177      0.000       0.340       0.356
Week_2                               -0.0920      0.013     -7.200      0.000      -0.117      -0.067
Week_3                               -0.0894      0.013     -6.947      0.000      -0.115      -0.064
Week_4                               -0.0734      0.013     -5.672      0.000      -0.099      -0.048
Week_5                               -0.0409      0.013     -3.186      0.001      -0.066      -0.016
Week_6                                0.0070      0.013      0.549      0.583      -0.018       0.032
Week_7                                0.1378      0.012     11.133      0.000       0.114       0.162
Week_8                                0.1060      0.012      8.487      0.000       0.082       0.130
Week_9                                0.1292      0.012     10.423      0.000       0.105       0.153
Week_10                               0.1763      0.012     14.303      0.000       0.152       0.200
Week_11                               0.2211      0.012     18.116      0.000       0.197       0.245
Week_12                               0.2425      0.012     19.992      0.000       0.219       0.266
Week_13                               0.2807      0.012     23.310      0.000       0.257       0.304
Week_14                               0.1202      0.015      7.889      0.000       0.090       0.150
Week_15                               0.1361      0.015      9.148      0.000       0.107       0.165
Week_16                               0.1420      0.015      9.534      0.000       0.113       0.171
Week_17                               0.1896      0.015     12.869      0.000       0.161       0.219
Week_18                               0.2334      0.015     16.007      0.000       0.205       0.262
Week_19                               0.3626      0.014     25.464      0.000       0.335       0.391
Week_20                               0.1159      0.012      9.356      0.000       0.092       0.140
Week_21                               0.3520      0.012     30.204      0.000       0.329       0.375
Week_22                               0.3737      0.012     32.376      0.000       0.351       0.396
Week_23                               0.3765      0.012     32.535      0.000       0.354       0.399
Week_24                               0.5070      0.011     44.493      0.000       0.485       0.529
Week_25                               0.4200      0.011     36.599      0.000       0.398       0.443
Week_26                               0.2411      0.012     19.302      0.000       0.217       0.266
Week_27                               0.5373      0.011     47.110      0.000       0.515       0.560
Week_28                               0.4158      0.011     36.326      0.000       0.393       0.438
Week_29                               0.4281      0.011     37.278      0.000       0.406       0.451
Week_30                               0.3979      0.012     34.524      0.000       0.375       0.420
Week_31                               0.3890      0.012     33.652      0.000       0.366       0.412
Week_32                               0.3621      0.012     31.171      0.000       0.339       0.385
Week_33                               0.3053      0.012     26.161      0.000       0.282       0.328
Week_34                               0.2547      0.012     21.635      0.000       0.232       0.278
Week_35                               0.2743      0.012     23.207      0.000       0.251       0.297
Week_36                               0.2295      0.012     19.266      0.000       0.206       0.253
Week_37                               0.1392      0.012     11.513      0.000       0.116       0.163
Week_38                               0.1484      0.012     12.295      0.000       0.125       0.172
Week_39                               0.1335      0.012     10.992      0.000       0.110       0.157
Week_40                               0.1192      0.012      9.794      0.000       0.095       0.143
Week_41                               0.0968      0.012      7.945      0.000       0.073       0.121
Week_42                              -0.1057      0.013     -8.266      0.000      -0.131      -0.081
Week_43                              -0.0148      0.015     -0.979      0.328      -0.045       0.015
Week_44                              -0.0349      0.015     -2.269      0.023      -0.065      -0.005
Week_45                              -0.0300      0.015     -1.949      0.051      -0.060       0.000
Week_46                              -0.0020      0.015     -0.132      0.895      -0.032       0.028
Week_47                               0.2009      0.014     14.721      0.000       0.174       0.228
Week_48                              -0.0144      0.015     -0.962      0.336      -0.044       0.015
Week_49                               0.0959      0.015      6.589      0.000       0.067       0.124
Week_50                               0.2116      0.014     14.979      0.000       0.184       0.239
Week_51                               0.4858      0.013     36.492      0.000       0.460       0.512
Week_52                               0.3070      0.014     22.201      0.000       0.280       0.334
==============================================================================
Omnibus:                    17324.613   Durbin-Watson:                   1.244
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            31868.836
Skew:                           0.283   Prob(JB):                         0.00
Kurtosis:                       4.109   Cond. No.                         521.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# OVERALL

In [149]:
w = {'CourseType_Corporate_Self':['max'], 'CourseType_Product_Self':['max'], 'CourseType_Theme_Self':['max'],'CourseType_Corporate_Mandatory':['max'],\
    'CourseType_Product_Mandatory':['max'],'CourseType_Theme_Mandatory':['max'],'Sales':['sum'],'Retail Units':['sum'],'Trained':['max'],'HiringDate_HR':['max']}

overall= merge3.groupby(['USER_ID','Year','Week','EmployeeType']).agg(w)

overall

                               CourseType_Corporate_Self  \
                                                     max
USER_ID Year Week EmployeeType
9       2018 7    C                                  0.0
             9    C                                  0.0
             10   C                                  0.0
             11   C                                  0.0
             16   C                                  0.0
...                                                  ...
1000008 2019 38   C                                  0.0
             39   C                                  0.0
             40   C                                  0.0
             41   C                                  0.0
             42   C                                  0.0

                               CourseType_Product_Self CourseType_Theme_Self  \
                                                   max                   max
USER_ID Year Week EmployeeType
9       2018 7    C                                0.0                   0.0
             9    C                                0.0                   0.0
             10   C                                0.0                   0.0
             11   C                                0.0                   0.0
             16   C                                0.0                   0.0
...                                                ...                   ...
1000008 2019 38   C                                0.0                   0.0
             39   C                                0.0                   0.0
             40   C                                0.0                   0.0
             41   C                                0.0                   0.0
             42   C                                0.0                   0.0

                               CourseType_Corporate_Mandatory  \
                                                          max
USER_ID Year Week EmployeeType
9       2018 7    C                                       0.0
             9    C                                       0.0
             10   C                                       0.0
             11   C                                       0.0
             16   C                                       0.0
...                                                       ...
1000008 2019 38   C                                       0.0
             39   C                                       0.0
             40   C                                       0.0
             41   C                                       0.0
             42   C                                       0.0

                               CourseType_Product_Mandatory  \
                                                        max
USER_ID Year Week EmployeeType
9       2018 7    C                                     0.0
             9    C                                     0.0
             10   C                                     0.0
             11   C                                     0.0
             16   C                                     0.0
...                                                     ...
1000008 2019 38   C                                     0.0
             39   C                                     0.0
             40   C                                     0.0
             41   C                                     0.0
             42   C                                     0.0

                               CourseType_Theme_Mandatory       Sales  \
                                                      max         sum
USER_ID Year Week EmployeeType
9       2018 7    C                                   0.0      6.2608
             9    C                                   0.0     21.2576
             10   C                                   0.0     10.0688
             11   C                                   0.0      6.7088
             16   C                                   0.0    160.1600
...                                                   ...         ...
1000008 2019 38   C                                   0.0  73734.1696
             39   C                                   0.0  76079.7296
             40   C                                   0.0  76182.7920
             41   C                                   0.0  75567.7104
             42   C                                   0.0  19104.4112

                               Retail Units Trained HiringDate_HR
                                        sum     max           max
USER_ID Year Week EmployeeType
9       2018 7    C                     0.0       0           824
             9    C                     0.0       0           824
             10   C                     0.0       0           824
             11   C                     0.0       0           824
             16   C                     1.0       0           824
...                                     ...     ...           ...
1000008 2019 38   C                   266.0       0           886
             39   C                   264.0       0           886
             40   C                   269.0       0           886
             41   C                   247.0       0           886
             42   C                    65.0       0           886

[729178 rows x 10 columns]

In [150]:
overall = overall.reset_index()
overall

,USER_ID,Year,Week,EmployeeType,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail Units,Trained,HiringDate_HR
,,,,,max,max,max,max,max,max,sum,sum,max,max
0,9,2018,7,C,0.0,0.0,0.0,0.0,0.0,0.0,6.2608,0.0,0,824
1,9,2018,9,C,0.0,0.0,0.0,0.0,0.0,0.0,21.2576,0.0,0,824
2,9,2018,10,C,0.0,0.0,0.0,0.0,0.0,0.0,10.0688,0.0,0,824
3,9,2018,11,C,0.0,0.0,0.0,0.0,0.0,0.0,6.7088,0.0,0,824
4,9,2018,16,C,0.0,0.0,0.0,0.0,0.0,0.0,160.1600,1.0,0,824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729173,1000008,2019,38,C,0.0,0.0,0.0,0.0,0.0,0.0,73734.1696,266.0,0,886
729174,1000008,2019,39,C,0.0,0.0,0.0,0.0,0.0,0.0,76079.7296,264.0,0,886
729175,1000008,2019,40,C,0.0,0.0,0.0,0.0,0.0,0.0,76182.7920,269.0,0,886
729176,1000008,2019,41,C,0.0,0.0,0.0,0.0,0.0,0.0,75567.7104,247.0,0,886
729177,1000008,2019,42,C,0.0,0.0,0.0,0.0,0.0,0.0,19104.4112,65.0,0,886

In [151]:
overall.columns = ['USER_ID','Year','Week','EmployeeType','CourseType_Corporate_Self','CourseType_Product_Self',\
                   'CourseType_Theme_Self','CourseType_Corporate_Mandatory','CourseType_Product_Mandatory','CourseType_Theme_Mandatory',\
                   'Sales','Retail_Units','Trained','HiringDate_HR']
overall

,USER_ID,Year,Week,EmployeeType,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail_Units,Trained,HiringDate_HR
0,9,2018,7,C,0.0,0.0,0.0,0.0,0.0,0.0,6.2608,0.0,0,824
1,9,2018,9,C,0.0,0.0,0.0,0.0,0.0,0.0,21.2576,0.0,0,824
2,9,2018,10,C,0.0,0.0,0.0,0.0,0.0,0.0,10.0688,0.0,0,824
3,9,2018,11,C,0.0,0.0,0.0,0.0,0.0,0.0,6.7088,0.0,0,824
4,9,2018,16,C,0.0,0.0,0.0,0.0,0.0,0.0,160.1600,1.0,0,824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729173,1000008,2019,38,C,0.0,0.0,0.0,0.0,0.0,0.0,73734.1696,266.0,0,886
729174,1000008,2019,39,C,0.0,0.0,0.0,0.0,0.0,0.0,76079.7296,264.0,0,886
729175,1000008,2019,40,C,0.0,0.0,0.0,0.0,0.0,0.0,76182.7920,269.0,0,886
729176,1000008,2019,41,C,0.0,0.0,0.0,0.0,0.0,0.0,75567.7104,247.0,0,886
729177,1000008,2019,42,C,0.0,0.0,0.0,0.0,0.0,0.0,19104.4112,65.0,0,886

In [152]:
overall=pd.get_dummies(overall, columns=['EmployeeType'])
overall=pd.get_dummies(overall, columns=['Week'])
overall=pd.get_dummies(overall, columns=['Year'])

overall

,USER_ID,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail_Units,Trained,...,Week_45,Week_46,Week_47,Week_48,Week_49,Week_50,Week_51,Week_52,Year_2018,Year_2019
0,9,0.0,0.0,0.0,0.0,0.0,0.0,6.2608,0.0,0,...,0,0,0,0,0,0,0,0,1,0
1,9,0.0,0.0,0.0,0.0,0.0,0.0,21.2576,0.0,0,...,0,0,0,0,0,0,0,0,1,0
2,9,0.0,0.0,0.0,0.0,0.0,0.0,10.0688,0.0,0,...,0,0,0,0,0,0,0,0,1,0
3,9,0.0,0.0,0.0,0.0,0.0,0.0,6.7088,0.0,0,...,0,0,0,0,0,0,0,0,1,0
4,9,0.0,0.0,0.0,0.0,0.0,0.0,160.1600,1.0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729173,1000008,0.0,0.0,0.0,0.0,0.0,0.0,73734.1696,266.0,0,...,0,0,0,0,0,0,0,0,0,1
729174,1000008,0.0,0.0,0.0,0.0,0.0,0.0,76079.7296,264.0,0,...,0,0,0,0,0,0,0,0,0,1
729175,1000008,0.0,0.0,0.0,0.0,0.0,0.0,76182.7920,269.0,0,...,0,0,0,0,0,0,0,0,0,1
729176,1000008,0.0,0.0,0.0,0.0,0.0,0.0,75567.7104,247.0,0,...,0,0,0,0,0,0,0,0,0,1
729177,1000008,0.0,0.0,0.0,0.0,0.0,0.0,19104.4112,65.0,0,...,0,0,0,0,0,0,0,0,0,1

In [153]:
overall['SUMTRAIN'] = overall.loc[:, 'CourseType_Corporate_Self':'CourseType_Theme_Mandatory'].sum(1)

In [154]:
overall['diff'] = overall.groupby('USER_ID')['SUMTRAIN'].diff()

In [156]:
overall['diff']= overall.apply(nan_with_cond , axis=1)

In [157]:
overall

,USER_ID,CourseType_Corporate_Self,CourseType_Product_Self,CourseType_Theme_Self,CourseType_Corporate_Mandatory,CourseType_Product_Mandatory,CourseType_Theme_Mandatory,Sales,Retail_Units,Trained,...,Week_47,Week_48,Week_49,Week_50,Week_51,Week_52,Year_2018,Year_2019,SUMTRAIN,diff
0,9,0.0,0.0,0.0,0.0,0.0,0.0,6.2608,0.0,0,...,0,0,0,0,0,0,1,0,0.0,0.0
1,9,0.0,0.0,0.0,0.0,0.0,0.0,21.2576,0.0,0,...,0,0,0,0,0,0,1,0,0.0,0.0
2,9,0.0,0.0,0.0,0.0,0.0,0.0,10.0688,0.0,0,...,0,0,0,0,0,0,1,0,0.0,0.0
3,9,0.0,0.0,0.0,0.0,0.0,0.0,6.7088,0.0,0,...,0,0,0,0,0,0,1,0,0.0,0.0
4,9,0.0,0.0,0.0,0.0,0.0,0.0,160.1600,1.0,0,...,0,0,0,0,0,0,1,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729173,1000008,0.0,0.0,0.0,0.0,0.0,0.0,73734.1696,266.0,0,...,0,0,0,0,0,0,0,1,0.0,0.0
729174,1000008,0.0,0.0,0.0,0.0,0.0,0.0,76079.7296,264.0,0,...,0,0,0,0,0,0,0,1,0.0,0.0
729175,1000008,0.0,0.0,0.0,0.0,0.0,0.0,76182.7920,269.0,0,...,0,0,0,0,0,0,0,1,0.0,0.0
729176,1000008,0.0,0.0,0.0,0.0,0.0,0.0,75567.7104,247.0,0,...,0,0,0,0,0,0,0,1,0.0,0.0
729177,1000008,0.0,0.0,0.0,0.0,0.0,0.0,19104.4112,65.0,0,...,0,0,0,0,0,0,0,1,0.0,0.0

In [158]:
overall['Sales_ln'] = np.log(overall['Sales'])
overall['SUMTRAIN_ln'] = np.log(overall['SUMTRAIN']+5)
overall['HiringDate_HR_ln'] = np.log(overall['HiringDate_HR'])

columns=['CourseType_Corporate_Self','CourseType_Product_Self','CourseType_Theme_Self','CourseType_Corporate_Mandatory','CourseType_Product_Mandatory','CourseType_Theme_Mandatory']

for i in columns:
    overall[i+'_ln'] = np.log(overall[i]+5)

In [159]:
overall['TRAIN2'] = overall.apply(per2, axis=1)

In [163]:
model3 = ols('Sales_ln ~ CourseType_Corporate_Self_ln + CourseType_Product_Self_ln + CourseType_Theme_Self_ln +\
                            CourseType_Corporate_Mandatory_ln + CourseType_Product_Mandatory_ln +\
                            CourseType_Theme_Mandatory_ln + TRAIN2 + HiringDate_HR_ln + EmployeeType_C + EmployeeType_P_FT +Week_2+Week_3+\
                            Week_4+Week_5+Week_6+Week_7+Week_8+Week_9+Week_10+Week_11+Week_12+Week_13+Week_14+Week_15+Week_16+Week_17+\
                            Week_18+Week_19+Week_20+Week_21+Week_22+Week_23+Week_24+Week_25+Week_26+Week_27+Week_28+Week_29+Week_30+Week_31+\
                            Week_32+Week_33+Week_34+Week_35+Week_36+Week_37+Week_38+Week_39+Week_40+Week_41+Week_42+Week_43+Week_44+\
                            Week_45+Week_46+Week_47+Week_48+Week_49+Week_50+Week_51+Week_52+Year_2019'\
             , data=overall).fit()

print(model3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               Sales_ln   R-squared:                       0.242
Model:                            OLS   Adj. R-squared:                  0.242
Method:                 Least Squares   F-statistic:                     3746.
Date:                Tue, 05 May 2020   Prob (F-statistic):               0.00
Time:                        22:41:21   Log-Likelihood:            -1.0317e+06
No. Observations:              729178   AIC:                         2.064e+06
Df Residuals:                  729115   BIC:                         2.064e+06
Df Model:                          62
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Intercept                             6.6415      0.017    384.955      0.000       6.608       6.675
CourseType_Corporate_Self_ln          0.0365      0.002     15.320      0.000       0.032       0.041
CourseType_Product_Self_ln            0.0755      0.003     26.347      0.000       0.070       0.081
CourseType_Theme_Self_ln              0.0240      0.002     10.753      0.000       0.020       0.028
CourseType_Corporate_Mandatory_ln    -0.0471      0.002    -18.956      0.000      -0.052      -0.042
CourseType_Product_Mandatory_ln      -0.0073      0.002     -3.577      0.000      -0.011      -0.003
CourseType_Theme_Mandatory_ln        -0.0581      0.003    -22.233      0.000      -0.063      -0.053
TRAIN2                                0.0479      0.004     11.349      0.000       0.040       0.056
HiringDate_HR_ln                      0.0865      0.002     40.759      0.000       0.082       0.091
EmployeeType_C                       -0.4395      0.004   -116.446      0.000      -0.447      -0.432
EmployeeType_P_FT                     0.5018      0.004    121.675      0.000       0.494       0.510
Week_2                               -0.2245      0.011    -20.019      0.000      -0.247      -0.203
Week_3                               -0.2277      0.011    -20.055      0.000      -0.250      -0.205
Week_4                               -0.1829      0.011    -15.955      0.000      -0.205      -0.160
Week_5                               -0.1131      0.011     -9.877      0.000      -0.136      -0.091
Week_6                               -0.0912      0.011     -7.957      0.000      -0.114      -0.069
Week_7                                0.1958      0.011     17.254      0.000       0.174       0.218
Week_8                                0.0905      0.011      7.953      0.000       0.068       0.113
Week_9                                0.1297      0.011     11.399      0.000       0.107       0.152
Week_10                               0.2185      0.011     19.243      0.000       0.196       0.241
Week_11                               0.3493      0.011     30.840      0.000       0.327       0.372
Week_12                               0.3828      0.011     33.883      0.000       0.361       0.405
Week_13                               0.4692      0.011     41.625      0.000       0.447       0.491
Week_14                               0.2404      0.014     17.102      0.000       0.213       0.268
Week_15                               0.3447      0.014     24.843      0.000       0.318       0.372
Week_16                               0.3584      0.014     25.875      0.000       0.331       0.386
Week_17                               0.4704      0.014     34.028      0.000       0.443       0.498
Week_18                               0.5253      0.014     37.920      0.000       0.498       0.553
Week_19                               0.7188      0.014     52.571      0.000       0.692       0.746
Week_20                               0.2337      0.012     20.255      0.000       0.211       0.256
Week_21                               0.5845      0.011     52.771      0.000       0.563       0.606
Week_22                               0.6330      0.011     57.375      0.000       0.611       0.655
Week_23                               0.5679      0.011     51.436      0.000       0.546       0.590
Week_24                               0.7510      0.011     68.648      0.000       0.730       0.772
Week_25                               0.5822      0.011     53.017      0.000       0.561       0.604
Week_26                               0.2930      0.012     24.701      0.000       0.270       0.316
Week_27                               0.7217      0.011     65.728      0.000       0.700       0.743
Week_28                               0.5400      0.011     49.159      0.000       0.518       0.562
Week_29                               0.5050      0.011     45.871      0.000       0.483       0.527
Week_30                               0.4571      0.011     41.385      0.000       0.435       0.479
Week_31                               0.4516      0.011     40.754      0.000       0.430       0.473
Week_32                               0.4144      0.011     37.284      0.000       0.393       0.436
Week_33                               0.3473      0.011     31.086      0.000       0.325       0.369
Week_34                               0.2663      0.011     23.693      0.000       0.244       0.288
Week_35                               0.2364      0.011     20.904      0.000       0.214       0.259
Week_36                               0.1155      0.011     10.137      0.000       0.093       0.138
Week_37                              -0.0860      0.011     -7.500      0.000      -0.108      -0.064
Week_38                              -0.0621      0.011     -5.411      0.000      -0.085      -0.040
Week_39                              -0.1226      0.012    -10.629      0.000      -0.145      -0.100
Week_40                              -0.1857      0.012    -16.094      0.000      -0.208      -0.163
Week_41                              -0.2126      0.012    -18.428      0.000      -0.235      -0.190
Week_42                              -0.4520      0.012    -37.816      0.000      -0.475      -0.429
Week_43                              -0.3536      0.014    -24.890      0.000      -0.381      -0.326
Week_44                              -0.4184      0.014    -29.206      0.000      -0.446      -0.390
Week_45                              -0.4019      0.014    -28.198      0.000      -0.430      -0.374
Week_46                              -0.3888      0.014    -27.587      0.000      -0.416      -0.361
Week_47                               0.3353      0.013     25.235      0.000       0.309       0.361
Week_48                              -0.3558      0.014    -25.527      0.000      -0.383      -0.328
Week_49                              -0.1976      0.014    -14.299      0.000      -0.225      -0.171
Week_50                               0.0770      0.014      5.650      0.000       0.050       0.104
Week_51                               0.7295      0.013     54.806      0.000       0.703       0.756
Week_52                               0.5769      0.014     42.323      0.000       0.550       0.604
Year_2019                            -0.1716      0.005    -33.682      0.000      -0.182      -0.162
==============================================================================
Omnibus:                   130952.321   Durbin-Watson:                   0.923
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           350739.213
Skew:                          -0.977   Prob(JB):                         0.00
Kurtosis:                       5.779   Cond. No.                         485.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.